= form_for(resource, url: resource.new_record? ?  comfy_project_flats_url(floor_id: @floor.id) : comfy_project_flat_path(resource.project, resource),
                     html: { multipart: true, method: (resource.new_record? ? "post" : "put") ,
                             class: "formatted form-horizontal"}) do |f|
  - if resource.errors.any?
    .alert
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %strong Внимание!
      %br
      = raw resource.errors.full_messages.join("<br>")
  .control-group
    = f.label :number, "Номер квартиры", class: "control-label"
    .controls
      .span2{style:"margin:0"}
        = f.text_field :number
  .control-group
    = f.label :polygon_points, "Точки полигона", class: "control-label"
    .controls
      .span2{style:"margin:0"}
        = f.text_field :polygon_points
  .control-group
    = f.label :description, "Описание", class: "control-label"
    .controls
      = f.text_area :description, data: {"rich-text" => true}
        
  .control-group
    = f.label :area_id, "Тип квартиры", class: "control-label"
    .controls
      .span2{style:"margin:0"}
        = f.select :layout_id, 
          options_from_collection_for_select(resource.project.layouts, :id, :full_type)
  .control-group
    = f.label :buyed, "Куплена?", class: "control-label"
    .controls
      .span2{style:"margin:0"}
        = f.select :buyed, Flat::States.map{|s| [Flat.translated_state(s), s]}
  .form-actions
    = f.submit 'Сохранить', class: 'btn'
