- resource = @floor.flats.build
%td{style: "text-align:center;vertical-align:middle"}
  = text_field_tag "flat[number]", resource.number, "data-validation" => "required"
%td{style: "text-align:center;vertical-align:middle"}
  = text_field_tag "flat[polygon_points]", resource.polygon_points,
    "data-validation" => "required"
-# %td{style: "text-align:center;vertical-align:middle"}
-#   = select_tag "flat[area_id]",
-#     options_from_collection_for_select(@floor.project.areas, :id, :name),
-#    "data-validation" => "required", class: "span2"
%td{style: "text-align:center;vertical-align:middle"}
  = select_tag "flat[layout_id]", 
    options_from_collection_for_select(@floor.project.layouts, :id, :full_type),
    class: "span2"
%td{style: "text-align:center;vertical-align:middle"}
  = select_tag "flat[buyed]", 
    options_for_select(Flat::States.map{|s| [Flat.translated_state(s), s]}),
    class: "span2"
%td{style: "text-align:center;vertical-align:middle"}
  .btn-group
    = submit_tag "Сохранить", class: "btn btn-small btn-success"
