.page-header
  %h2 Редактирование квартиры
  = link_to "Добавить фотографии",
    comfy_project_flat_images_path(params[:project_id], flat_id: @flat.id),
    class: "btn"

= render 'form'

\|
= link_to 'Вернуться назад', comfy_project_flats_path(floor_id: @flat.floor.id)
