.page-header
  %h2 Квартиры этажа: #{@floor.name}
  %br
  %div#floor
  %div#floor_thumbs
  :javascript
    plan = new Plan({ 
      container: "floor",        
      width: #{@floor.get_width}, 
      height: #{@floor.get_height},
      src: "#{ @floor.image.url }",
      thumbSrc: "#{@floor.image.url(:thumb)}",
      editable: true,
      thumbContainer: "floor_thumbs",
      initOpacity: 0.2,
      hoverOpacity: 0.7
    });

- new_flat = @floor.flats.build
= alert
= form_for new_flat, url: comfy_project_flats_path(floor_id: @floor.id) do |f|
  %table.table.table-striped.table-bordered
    %thead
      %th{style: "text-align:center;vertical-align:middle"} Номер квартиры
      %th{style: "text-align:center;vertical-align:middle"} Точки полигона
      %th{style: "text-align:center;vertical-align:middle"} Тип квартиры
      %th{style: "text-align:center;vertical-align:middle"} Куплена
      %th
    %tbody
      %tr#new_flat_placeholder
        = render "new_flat_tr"
        - collection.each do |resource|
          %tr
            %td{style: "text-align:center;vertical-align:middle"}= resource.number
            %td{style: "text-align:center;vertical-align:middle"}= resource.polygon_points
            %td{style: "text-align:center;vertical-align:middle"}= resource.layout.try(:full_type)
            %td{style: "text-align:center;vertical-align:middle"}= resource.current_state 
            %td{style: "text-align:center;vertical-align:middle"}
              .btn-group
                = link_to comfy_project_flat_images_path(@floor.house.project_id, flat_id: resource.id), class: "btn btn-small", title: "Изображения" do
                  %i.icon-large.icon-camera
                = link_to edit_comfy_project_flat_path(@floor.house.project_id, resource, floor_id: @floor.id), class: "btn btn-small", title: "Редактировать" do
                  %i.icon-large.icon-edit
                = link_to comfy_project_flat_path(@floor.house.project_id, resource, floor_id: @floor.id), class: "btn btn-small btn-danger", :method => :delete, :data => { :confirm => 'Вы уверены?' }, title: "Удалить" do
                  %i.icon-large.icon-trash
          :javascript
            plan.drawFlat({
              drawPoints: #{resource.get_poligon_points},
              name: "#{resource.number}",
              onclickPath: "#{edit_comfy_project_flat_path(@floor.house.project_id, resource, floor_id: @floor.id)}",
              color: "#{resource.get_color}",
              updatePath: "#{comfy_project_flat_path(resource.project.id, resource.id)}"
            });
:javascript
  plan.layer.draw();
