= form_for(resource, url: resource.new_record? ? collection_url : resource_url(resource),
                     html: { method: (resource.new_record? ? "post" : "put") ,
                             class: "formatted form-horizontal"}) do |f|
  - if resource.errors.any?
    .alert
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %strong Внимание!
      %br
      = raw resource.errors.full_messages.join("<br>")

  .control-group
    = f.label :photo, "Фотография", class: "control-label"
    .controls
      %div
        .fileupload.fileupload-new{"data-provides" => "fileupload"}
          %span.btn.btn-file
            %span.fileupload-new Загрузить изображение
            %span.fileupload-exists Изменить изображение
            = f.file_field :photo
          %span.fileupload-preview
          %a.close.fileupload-exists{"data-dismiss" => "fileupload", :href => "#", :style => "float: none"} ×
  .control-group
    = f.label :name, "Метраж", class: "control-label"
    .controls
      .span2{style:"margin:0"}
        = f.text_field :name
  - if resource.photo.present?
    .control-group
      .controls
        %div
          = image_tag resource.photo.url, class: "img-polaroid"
  .form-actions
    = f.submit 'Сохранить', class: 'btn'
