.page-header
  = link_to 'Добавить', new_resource_path, class: 'btn btn-primary pull-right'
  %h2
    Квартиры проекта:
    = @project.title

%table.table.table-striped.table-bordered
  %thead
    %th{style: "text-align:center;vertical-align:middle"} Фото
    %th{style: "text-align:center;vertical-align:middle"} Метраж
    %th
  %tbody
    - collection.each do |resource|
      %tr
        %td{style: "text-align:center;vertical-align:middle"}= image_tag resource.photo.url(:admin), class: "img-polaroid"
        %td{style: "text-align:center;vertical-align:middle"}= resource.name
        %td{style: "text-align:center;vertical-align:middle"}
          .btn-group
            = link_to comfy_project_area_layouts_path(resource.project, resource), class: "btn btn-small", title: 'Планировки' do
              %i.icon-large.icon-th-large
          .btn-group
            = link_to edit_resource_path(resource), class: "btn btn-small", title: "Редактировать" do
              %i.icon-large.icon-edit
            = link_to resource_path(resource), class: "btn btn-small btn-danger", :method => :delete, :data => { :confirm => 'Вы уверены?' }, title: "Удалить" do
              %i.icon-large.icon-trash

