= form_for(resource, url: resource.new_record? ? comfy_project_flat_images_url(flat_id: @flat.id) : comfy_project_flat_image_url(resource, flat_id: @flat.id),
                     html: { :multipart => true, method: (resource.new_record? ? "post" : "put") ,
                             class: "formatted form-horizontal"}) do |f|
  - if resource.errors.any?
    .alert
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %strong Внимание!
      %br
      = raw resource.errors.full_messages.join("<br>")

  .control-group
    = f.label :image, "Фотография", class: "control-label"
    .controls
      %div
        .fileupload.fileupload-new{"data-provides" => "fileupload"}
          %span.btn.btn-file
            %span.fileupload-new Загрузить изображение
            %span.fileupload-exists Изменить изображение
            - if resource.new_record?
              %input{id: "flat_image_image", multiple: "true", name: "flat_image[image][]", type: "file"}
            - else
              %input{id: "flat_image_image", name: "flat_image[image]", type: "file"}              
          %span.fileupload-preview
          %a.close.fileupload-exists{"data-dismiss" => "fileupload", :href => "#", :style => "float: none"} ×
          - if resource.new_record?
            %p.help-block Для загрузки нескольких изображений выделите несколько фотографий.
          
  .control-group
    = f.label :date, "Дата", class: "control-label"
    .controls
      .span2{style:"margin:0"}
        = f.text_field :date, class: "datepicker"
  :javascript
      $('.datepicker').datetimepicker({format: 'yyyy-mm-dd',minView: 'month'});
  - if resource.image.present?
    .control-group
      %div
        = image_tag resource.image.url, class: "img-polaroid"


  .form-actions
    = f.submit 'Сохранить', class: 'btn'
