.page-header
  = link_to 'Добавить', new_comfy_project_flat_image_path(flat_id: @flat.id), class: 'btn btn-primary pull-right'
  %h2
    Список фотографий квартиры:
    = @flat.number

%table.table.table-bordered.table-striped
  %thead
    %th{style: "text-align:center;vertical-align:middle"} Фото
    %th{style: "text-align:center;vertical-align:middle"} Дата
    %th
  %tbody
  - collection.each do |resource|
    %tr
      %td{style: "text-align:center;vertical-align:middle"}= image_tag resource.image.url(:admin), class: "img-polaroid"
      %td{style: "text-align:center;vertical-align:middle"}= resource.date
      %td{style: "text-align:center;vertical-align:middle"}
        .btn-group
          = link_to edit_comfy_project_flat_image_path(@flat.floor.house.project, resource, flat_id: @flat.id), class: "btn btn-small", title: "Редактировать" do
            %i.icon-large.icon-edit
          = link_to comfy_project_flat_image_path(@flat.floor.house.project, resource, flat_id: @flat.id), class: "btn btn-small btn-danger", :method => :delete, :data => { :confirm => 'Вы уверены?' }, title: "Удалить" do
            %i.icon-large.icon-trash
= link_to 'Вернуться назад', comfy_project_flats_path(floor_id: @flat.floor.id)
