.page-header
  = link_to 'Создать дом', new_resource_path, class: 'btn btn-primary pull-right'
  %h2 Список домов

%table.table.table-striped.table-bordered
  %thead
    %th Дом
    %th
  %tbody
    - collection.each do |resource|
      %tr
        %td= resource.name
        %td{style: "text-align:center;"}
          .btn-group
            = link_to comfy_project_floors_path(resource.project_id, house_id: resource.id), class: "btn btn-small", title: "Этажи" do
              %i.icon-large.icon-align-justify
          .btn-group
            = link_to edit_resource_path(resource), class: "btn btn-small", title: "Редактировать" do
              %i.icon-large.icon-edit
            = link_to resource_path(resource), class: "btn btn-small btn-danger", :method => :delete, :data => { :confirm => 'Вы уверены?' }, title: "Удалить" do
              %i.icon-large.icon-trash
