= form_for(resource, url: resource.new_record? ? collection_url : resource_url(resource),
                     html: { method: (resource.new_record? ? "post" : "put") ,
                             class: "formatted form-horizontal"}) do |f|
  - if resource.errors.any?
    .alert
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %strong Внимание!
      %br
      = raw resource.errors.full_messages.join("<br>")

  .control-group
    = f.label :file, "Фотография", class: "control-label"
    .controls
      %div
        .fileupload.fileupload-new{"data-provides" => "fileupload"}
          %span.btn.btn-file
            %span.fileupload-new Загрузить изображение
            %span.fileupload-exists Изменить изображение
            - if resource.new_record?
              = f.file_field :file, :multiple => true
            - else
              = f.file_field :file
          %span.fileupload-preview
          %a.close.fileupload-exists{"data-dismiss" => "fileupload", :href => "#", :style => "float: none"} ×
        - if resource.new_record?
          %p.help-block Для загрузки нескольких изображений выделите несколько фотографий.

  .control-group
    = f.label :logo, "Дата", class: "control-label"
    .controls
      %div.span2.input-append{style: "margin:0"}
        = f.text_field :date, class:"datepicker", value: resource.new_record? ? "" : resource.date.strftime("%Y-%m-%d")
        %span.add-on{style:"height: 34px;"}
          %i.icon-calendar
  :javascript
    $(".datepicker").datetimepicker({format: 'yyyy-mm-dd',minView: 'month'});

  - if resource.file.present?
    .control-group
      %div
        = image_tag resource.file.url, class: "img-polaroid"

  .form-actions
    = f.submit 'Сохранить', class: 'btn'
