.page-header
  = link_to 'Добавить', new_resource_path, class: 'btn btn-primary pull-right'
  %h2
    Список фотографий процесса строительства проекта:
    = @project.title


%table.table.table-bordered.table-striped
  %thead
    %th{style: "text-align:center;vertical-align:middle"} Фото
    %th{style: "text-align:center;vertical-align:middle"} Дата
    %th
  %tbody
    - collection.each do |resource|
      %tr
        %td{style: "text-align:center;vertical-align:middle"}= image_tag resource.file.url(:admin), class: "img-polaroid"
        %td{style: "text-align:center;vertical-align:middle"}= l(resource.date)
        %td{style: "text-align:center;vertical-align:middle"}
          .btn-group
            = link_to edit_resource_path(resource), class: "btn btn-small", title: "Редактировать" do
              %i.icon-large.icon-edit
            = link_to resource_path(resource), class: "btn btn-small btn-danger", :method => :delete, :data => { :confirm => 'Вы уверены?' }, title: "Удалить" do
              %i.icon-large.icon-trash
= link_to 'Вернуться назад', comfy_projects_path


