#clipsmodal{style: "display: none;"}
  %section
    %ul.redactor_clips_box
      %li
        %a.redactor_clip_link{href: "#"} Диплом
        .redactor_clip{style: "display: none;"}
          .award
            .img
              %a{href: "", rel: "group" }
                = image_tag "upload_award_image.png", style:"width: 80px;"
            .text
              Текст под дипломом
          %p
  %footer
    %a.redactor_modal_btn.redactor_btn_modal_close{href: "#"} Close
