.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .navbar-container
      %button.btn.btn-navbar{'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{'href' => '#'} СДС
      .nav-collapse.collapse
        %ul.nav
          - if current_cms_user.role.name == "Administrator"
            - if @site && !@site.new_record?
              %li{:class => content_page? ? 'active' : ''}
                = link_to t("cms.fortress.contents"), cms_admin_site_pages_path(@site)
              %li{:class => design_page? ? 'active' : ''}
                = link_to t("cms.fortress.design"), cms_admin_site_layouts_path(@site)
            %li{:class => admin_page? ? 'active' : ''}
              = link_to t("cms.fortress.settings"), cms_admin_sites_path
          %li
            = link_to "Logout", destroy_cms_user_session_path, :method => 'delete'

