- advertisement = AdvertisementBlock.first
- if advertisement.present? && advertisement.published
  .container
    .adv-popup
      .close-btn 
      .adv-content= advertisement.content.html_safe
      = link_to "Подробнее ›››", advertisement.permalink

  :css
    .adv-popup{
      background: #{advertisement.color};
    }
    .adv-popup:after{
      background: #{advertisement.color};
    }
