
<div class="breadcrubms center960">
  <ul>
    <%= raw get_page_name %>
  </ul>
</div>

<div style="clear: both;"></div>

<hr class="hr-orange hr-breadcrubms">

<script type="text/javascript">
    $('.breadcrubms li a').last().css('color', '#cdcdcd');
</script>