= stylesheet_link_tag "comfortable_mexican_sofa/admin/bootstrap-fileupload.min"
= stylesheet_link_tag "comfortable_mexican_sofa/admin/bootstrap-lightbox.min"
= stylesheet_link_tag "comfortable_mexican_sofa/admin/style"
= stylesheet_link_tag "comfortable_mexican_sofa/admin/redactor"
= stylesheet_link_tag "comfortable_mexican_sofa/admin/bootstrap-select.min"
= stylesheet_link_tag "comfortable_mexican_sofa/admin/clips"
= stylesheet_link_tag "comfy/bootstrap-colorpicker.min"

= javascript_include_tag "comfortable_mexican_sofa/admin/bootstrap-fileupload.min"
= javascript_include_tag "comfortable_mexican_sofa/admin/jquery-ui-1.10.3.custom.min"
= javascript_include_tag "comfortable_mexican_sofa/admin/bootstrap-lightbox.min"
= javascript_include_tag "comfortable_mexican_sofa/admin/redactor.min"
= javascript_include_tag "comfortable_mexican_sofa/admin/ru"
= javascript_include_tag "comfortable_mexican_sofa/admin/script"
= javascript_include_tag "comfortable_mexican_sofa/admin/bootstrap-select.min"
= javascript_include_tag "comfortable_mexican_sofa/admin/clips"
= javascript_include_tag "comfortable_mexican_sofa/admin/fullscreen"
= javascript_include_tag "comfy/bootstrap-colorpicker.min"
= javascript_include_tag "comfy/bootstrap-wysihtml5.ru-RU"
= javascript_include_tag "site/kinetic-v5.0.1"
= javascript_include_tag "site/miniZoomPan"
= javascript_include_tag "comfy/jquery.form-validator.min"
= javascript_include_tag "site/plan"

= render "comfy/shared/redactor_clips"

:javascript
  $.fn.datetimepicker.dates['en'] = {
    days: #{t("date.day_names")},
    daysShort: #{t("date.abbr_day_names")},
    daysMin: #{t("date.abbr_day_names")},
    months: #{I18n.t("date.standalone_month_names")},
    monthsShort: #{t("date.abbr_month_names").compact},
    today: "Сегодня"
  };
  $(document).ready(function(){
  })
:css
  .form-horizontal .controls {
    margin-left: 170px;
  }
