<a href="/comfy/news">Новости</a>
<a href="/comfy/projects">Проекты</a>
<%= link_to "Слайды на главной", comfy_main_page_slides_path%>
<%= link_to "Партнеры ", comfy_partners_path%>
<%= link_to "Рекламный попап", comfy_advertisement_blocks_path%>
