<div id="contacts">
    <section class="contacts-section">
      <div class="container">
        <div class="sixteen columns">
          <div class="contacts-header">
            <h1 class="contacts-h1">КОНТАКТЫ</h1>
            <hr class="hr-orange hr-contacts-header" />
          </div>
        </div>
      </div>

      <div class="container">
        <div class="eight columns">
          <div class="contacts-header">
            <h2>АДРЕС</h2>
            <hr class="hr-contacts-address" />
            <p class="address-p">
              г. Санкт-Петербург, пл. Карла Фаберже, 8 оф.717 <wbr>
              ст. м. Ладожская (вход со стороны МебельХолла)
            </p>

          </div>
        </div>


        <style>
            .contacts-h1 {
                font-family: "Open Sans";
                font-size: 35px;
                font-weight: 300;
                text-transform: uppercase;
                -webkit-margin-before: 0px;
                margin-bottom: 16px;
            }

            h2 {
                font-family: "Open Sans";
                font-size: 30px;
                font-weight: 400;
                text-transform: uppercase;
                -webkit-margin-before: 0px;
                margin-bottom: 30px;
            }


          .address-p {
              font-family: "Open Sans";
              font-size: 18px;
              line-height: 30px;
              color: #58585a;
          }

          .social-p {
              font-family: "Open Sans";
              font-size: 14px;
              color: black;
              font-weight: bold;
              margin-bottom: 0px;
              margin-top: 15px;
          }

          a {
              color: #fc2121;
          }
          .contacts-section {
              margin-top: 45px;
              margin-bottom: 60px;
          }

          .hr-contacts-header {
              width: 181px;
              margin-bottom: 55px;
              border: 2px solid #fc0101;
          }

          .hr-contacts-adress {
              width: 138px;

          }
          .hr-contacts-phone, .hr-contacts-address {
              width: 138px;
              border-width: 2px;
          }

          .phone-p {
              font-family: "Open Sans";
              font-size: 28px;
              line-height: 30px;
              color: #58585a;

          }
        </style>

    <div class="six columns offset-by-two">
      <div class="contacts-header">
        <h2>ТЕЛЕФОН</h2>
        <hr class="hr-contacts-phone" />
        <p class="phone-p">
          (812) 640 - 09 - 06
        </p>
      </div>
    </div>
  </div>

</section>

<div id="yamap-contacts">
  <a class="yamap-link" href="http://maps.yandex.ru/?ll=30.437694%2C59.934290&spn=0.033903%2C0.009153&z=16&l=map">
    Посмотреть на карте большего масштаба
  </a>
</div>

<style>


  #yamap-contacts {
    width: 100%;
    height: 450px;
  }

  a.yamap-link {
      position: relative;
      top: 440px;
      left: 20px;
      z-index: 10;
      font-size: 14px;
  }

</style>


<script type="text/javascript">
            /* При успешной загрузке API выполняется
               соответствующая функция */
            ymaps.ready(function () {
                    /* Создание экземпляра карты и его привязка к контейнеру с id="YMapsID" */
                    var myMap = new ymaps.Map("yamap-contacts", {
                    // Центр карты
                    center: [59.935021,30.439775],
                    // Коэффициент масштабирования
                    zoom: 16
                    // Тип карты
                    //type: "yandex#satellite"
                    }
                    );

                myMap.controls.add('zoomControl', { left: 5, top: 5 });

                // Создание метки
                var myPlacemark = new ymaps.Placemark(
                        // Координаты метки
                        [59.935021,30.439775],
                        {
                            // Свойства
                            // Текст метки
                            hintContent: 'Союз Делового Строительства. г. Санкт-Петербург, пл. Карла Фаберже, 8 оф.717 ст. м. Ладожская (вход со стороны МебельХолла).'
                        }, {
                            iconImageHref: '/assets/contacts-icon.png', // картинка иконки
                            iconImageSize: [116, 82], // размеры картинки
                            iconImageOffset: [-60, -80] // смещение картинки
                        });

                // Добавление метки на карту
                myMap.geoObjects.add(myPlacemark);

            });
</script>
</div>
