<footer>
  <section class="container footer-section">
    <div class="five columns">
      <p class="footer-sds">© СДС Группа Компаний</p>
      <hr class="hr-orange hr-footer">
      <div class="footer-social">
        <a class="pull-left" href="http://vk.com/sdsstroy"><img src="/assets/vk-soc.png" /></a>
        <a class="pull-left" href="http://www.facebook.com/SDStroy"><img src="/assets/fb-soc.png" /></a>
        <p class="pull-left">Официальные группы</p>
      </div>
    </div>

    <div class="six columns offset-by-one">
      <table class="footer-contacts">
        <tbody>
        <tr>
          <td width="70" align="right"><p><strong>Адресс</strong></p></td>
          <td width="190"><p>г. Санкт-Петербург,<br/>
            пл. Карла Фаберже, 8 оф 717</td>
        </tr>
        <tr>
          <td width="70" align="right"><p><strong>Телефон</strong></p></td>
          <td width="190"><p>(812) 640-09-06</td>
        </tr>
        <tr>
          <td width="70" align="right"><p><strong>E-mail</strong></p></td>
          <td width="190"><a href="mailto:sdscompany@ya.ru"><p>sdscompany@ya.ru</p></a></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="four columns">
      <table class="ml-copyright">
        <tbody>
        <tr>
          <td class="logo-td">
            <img src="/assets/ml-logo.png"/>
          </td>
          <td style="vertical-align: top;">
            <p class="footer-copyright" style="margin: -3px 0 0 0; padding: 0;">
              Разработано в студии <br/>дизайна <a href="http://meierlink.ru">«Meier Link»</a>
            </p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</footer>