<div class="head-class">
  <a class="logo" href="/">
    <%= image_tag "sds-logo.png", alt: "Строительная компания «Союз Долевого Строительства»" %>
  </a>
  <p class="slogan">Малоэтажное строительство <br>
    в Санкт-Петербурге и Ленинградской области
  </p>
  <p class="phone">
    <span class="code">(812)</span>
    640-09-06
  </p>
  <div class="social-links">
    <a class="vk-social" href="http://vk.com/sdsstroy"><img src="/assets/vk-soc-tr.png" /></a>
    <a class="fb-social" href="http://www.facebook.com/SDStroy"><img src="/assets/fb-soc-tr.png" /></a>
  </div>
</div>
