<nav class="menu">
  <ul>
    <li class="about"><a href="/about">О КОМПАНИИ</a></li>
    <li class="projects"><a href="/projects">ПРОЕКТЫ</a></li>
    <li class="news"><a href="/news">ПРЕСС-ЦЕНТР</a></li>
    <li class="contacts"><a class="last" href="/contacts">КОНТАКТЫ</a></li>
  </ul>
</nav>
