#news_list
  .container
    .eleven.columns
      .news-header
        %h1 ПРЕСС-ЦЕНТР
        %hr{class: 'hr-orange hr-news-header'}
    .two.columns.offset-by-two
      #news_menu
        = render :partial => 'shared/news_menu'
    .news-list
      - @news.each do |comfy_news|
        - if comfy_news.is_published
          %section
            .twelve.columns
              .news-date
                %p= Russian::strftime(comfy_news.date, "%d %B %Y")
                %hr{class: 'hr-news-date'}
            .four.columns
              %a.news-image{href: '/news/' + comfy_news.id.to_s}
                - if comfy_news.logo.present?
                  = image_tag comfy_news.logo.url(:thumb), width: 234, height: 155
            .eight.columns
              .news-content
                %h2= link_to raw(comfy_news.header.gsub("\\n","<br>")), '/news/' + comfy_news.id.to_s
                %p= link_to comfy_news.short_description, '/news/' + comfy_news.id.to_s
    - if @news.count > ::Configuration[:news_per_page].to_i
      .container
        .pagination
          %span Страница:
          = will_paginate @news, class: "pages", next_label: "", previous_label: ""
