%p.news-menu-header АРХИВ НОВОСТЕЙ
%hr.hr-news-menu
- Comfy::News.take_year_month_hash.keys.sort.each do |year|
  = link_to year.to_s, '/news/filter/' + year.to_s, class: 'year-menu-link'
  %br
  %ul.news-menu-ul
    - Comfy::News.take_year_month_hash[year].each do |month|
      %li
        = link_to month_num_to_name(month), '/news/filter/' + year.to_s + '/' + month.to_s
