<%
menu_pages = if @cms_page.children.published.blank?
  parent = @cms_page.parent
  [parent, parent.children.published.to_a].flatten
else
 [@cms_page, @cms_page.children.published.to_a].flatten
end
%>
<% if menu_pages.present?%>
  <div class='four columns offset-by-one' style="float: right;">
      <ul class="page-menu">
        <% menu_pages.each do |page| %>
          <li class="<%= page.full_path == request.path ? "active" : "" %>"><%= link_to page.label, page.full_path%></li>
        <% end %>
      </ul>
  </div>
<% end %>
