<div class="container">
  <div class="sixteen columns">
    <h2 class="project-h2 projects-index-header">ПРОЕКТЫ</h2>
  </div>
</div>

<div class="container">
  <div class="sixteen columns">
    <ul class="project-select">
      <li class="active-project"><a href="">Строящиеся</a></li>
      <li><a href="">Завершенные</a></li>
      <li><a href="">Все</a></li>
    </ul>
  </div>
</div>

<div style="clear: both"></div>

<style>
  ul.project-select {
    list-style: none;
    margin-bottom: 60px;
  }

  ul.project-select li {
      float: left;
      padding: 10px 20px 10px 20px;
      margin-right: 10px;
  }

  ul.project-select li.active-project {
      background-color: #d7240a;
  }


  ul.project-select li a {
    text-decoration: none;
    color: black;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
  }

  ul.project-select li.active-project a {
      color: white;
  }


</style>


<div class="project-section">
  <img class="project-image" src="/assets/romanov-project.png" />
  <div class="project-info">
    <div class="infobox info-right">
      <h2 class="project-h2">Клубный дом "Романов"</h2>
      <h3 class="project-h3">Бизнесс-класс</h3>
      <hr class="hr-orange hr-project-info" />
      <p class="project-address">
        Ленинградская область, Всеволожский район поселок Романовка, ул. Дорога жизни, дом 43
      </p>
      <div class="project-icons">
        <img src="/assets/project-icon-1.png" />
        <img src="/assets/project-icon-2.png" />
        <img src="/assets/project-icon-3.png" />
        <img src="/assets/project-icon-4.png" />
        <img src="/assets/project-icon-5.png" />
      </div>
    </div>
  </div>
</div>

<style>
  .projects-index-header {
      margin-bottom: 30px;
  }

  .infobox {
      width: 520px;
  }

  .info-right {
      margin-left: 45px;
      margin-top: 70px;
  }

  h2 {
      font-family: "Open Sans";
      font-size: 38px;
      font-weight: 300;
      color: black;
      text-transform: uppercase;
  }

  h3 {
      font-family: "Open Sans";
      font-size: 26px;
      font-weight: 300;
      color: gray;
      text-transform: uppercase;
  }

  .hr-project-info {
      width: 137px;
      border-width: 2px;
      margin-top: 25px;
  }

  .project-address {
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      color: #6d6d6f;
  }

  .project-icons {
      margin-left: -5px;
      margin-top: 35px;
  }

  .project-icons img {
      margin-right: 10px;
  }

</style>

<div class="project-section">
  <div class="project-info">
    <div class="infobox info-left">
      <h2 class="project-h2">ЖК Румболово</h2>
      <h3 class="project-h3">Бизнесс-класс</h3>
      <hr class="hr-orange hr-project-info" />
      <p class="project-address">
        Ленинградская область, Всеволожский район, г. Всеволожск, район Магнитной станции, участок «Прищегловский»
      </p>



      <div class="project-icons">
        <img src="/assets/project-icon-1.png" />
        <img src="/assets/project-icon-2.png" />
        <img src="/assets/project-icon-3.png" />
        <img src="/assets/project-icon-4.png" />
        <img src="/assets/project-icon-5.png" />
      </div>
    </div>

  </div>
  <img class="project-image" src="/assets/romb-project.png" />
</div>

<div style="clear: both"></div>

<style>
  body {
      overflow-x: hidden;
  }

  .info-left {
      text-align: right;
      float: right;
      margin-top: 75px;
      margin-right: 40px;
  }

  .info-left .hr-project-info {
      margin-left: 377px;
  }

  .project-section {
      width: 1920px;
      height: 470px;
      overflow: hidden;

      position: relative;
      left: -960px;
      margin-left: 50%;
  }

  .project-image {
      float: left;
      width: 960px;
      height: 470px;

      overflow: hidden;
  }

  .project-info {
      float: left;
      width: 960px;
      height: 470px;
      background-color: white;
      overflow: hidden;
  }


</style>
