#news
  .container
    .eleven.columns
      .news-header
        %h1= raw @single_news.header.gsub("\\n","<br>")
        %hr{class: 'hr-orange hr-news-header'}
    .two.columns.offset-by-two
      #news_menu
        = render :partial => 'shared/news_menu'
    .twelve.columns
      .news-date
        %p= @single_news.date
        %hr{class: 'hr-news-date'}
    .twelve.columns
      .news-content
        = raw @single_news.description

        %p
        %p
          %a{href: '/news'} Вернуться к списку новостей
