:css
  .redactor_.redactor_editor{
    min-height: 100px !important;
  }
= form_for(resource, url: resource.new_record? ? collection_url : resource_url(resource),
                     html: { method: (resource.new_record? ? "post" : "put"),
                             class: "formatted form-horizontal"}) do |f|
  - if resource.errors.any?
    .alert
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %strong Внимание!
      %br
      = raw resource.errors.full_messages.join("<br>")
  .control-group
    = f.label :title, "Заголовок", class: "control-label"
    .controls
      %div
        = f.text_field :title

  .control-group
    = f.label :slug, "Ссылка", class: "control-label"
    .controls
      %div
        = f.text_field :slug
  .control-group
    = f.label :category, "Тип проекта", class: "control-label"
    .controls
      %div
        = f.text_field :category
  .control-group
    = f.label :address, "Адрес", class: "control-label"
    .controls
      %div
        = f.text_area :address, rows: 3, style:"height:auto;"
      %p.help-block Для разделения текста на строки используйте "\n"
  .control-group
    = f.label :photo, "Фото для списка проектов", class: "control-label"
    .controls
      %div
        .fileupload.fileupload-new{"data-provides" => "fileupload"}
          %span.btn.btn-file
            %span.fileupload-new Загрузить изображение
            %span.fileupload-exists Изменить изображение
            = f.file_field :photo
          %span.fileupload-preview
          %a.close.fileupload-exists{"data-dismiss" => "fileupload", :href => "#", :style => "float: none"} ×

  .control-group
    = f.label :description, "Краткое описание", class: "control-label"
    .controls
      %div
        = f.text_area :description, rows: 3, style:"height:auto;"
  .control-group
    = f.label :content, "Подробное описание", class: "control-label"
    .controls
      %div
        = f.text_area :content, :"data-rich-text" => "true", rows: 6, style:"height:auto;"
  .control-group
    = f.label :location, "Расположение", class: "control-label"
    .controls
      %div
        = f.text_area :location, rows: 3, style:"height:auto;"
  .control-group
    = f.label :location_content, "Расположение подробно", class: "control-label"
    .controls
      %div
        = f.text_area :location_content, :"data-rich-text" => "true", rows: 6, style:"height:auto;"
  .control-group
    = f.label "Координаты", class: "control-label"
    .controls
      .span3{style:"margin:0"}
        = f.text_field :lat
      .span3
        = f.text_field :lng
  .control-group
    = f.label :layout, "Текст для страницы планировок", class: "control-label"
    .controls
      %div
        = f.text_area :layout, rows: 3, style:"height:60px;", :"data-rich-text" => "true"
  .control-group
    = f.label :embed_stream, "Ссылка встроенной трансляции", class: "control-label"
    .controls
      %div
        = f.text_field :embed_stream
  .control-group
    = f.label "Инфраструктура", class: "control-label"
    .controls
      %div
        - Project.values_for_objects.each do |o|
          = check_box_tag "project[objects][]", o, resource.objects?(o)
          = t(o, scope: 'objects')
          %br
  .control-group
    = f.label :completed, "Достроен?", class: "control-label"
    .controls
      %div
        = f.check_box :completed
  .control-group
    = f.label :published, "Опубликовать?", class: "control-label"
    .controls
      %div
        = f.check_box :published
  .form-actions
    = f.submit 'Сохранить', class: 'btn'
