.page-header
  = link_to 'Создать проект', new_resource_path, class: 'btn btn-primary pull-right'
  %h2 Список проектов

%table.table.table-striped.table-bordered
  %thead
    %th Проект
    %th{style: "text-align:center;"} Достроен?
    %th{style: "text-align:center;"} Опубликован?
    %th
  %tbody
    - collection.each do |resource|
      %tr
        %td= resource.title
        %td{style: "text-align:center;"}
          - if resource.completed
            %span.label.label-success{style:"padding: 5px;"}
              %i.icon-ok
          - else
            %span.label.label-important{style:"padding: 5px;"}
              %i.icon-remove
        %td{style: "text-align:center;"}
          - if resource.published?
            %span.label.label-success{style:"padding: 5px;"}
              %i.icon-ok
          - else
            %span.label.label-important{style:"padding: 5px;"}
              %i.icon-remove

        %td{style: "text-align:center;"}
          .btn-group
            = link_to comfy_project_photos_path(resource), class: "btn btn-small", title: "Фото" do
              %i.icon-large.icon-camera
            = link_to comfy_project_slides_path(resource), class: "btn btn-small", title: "Слайды процесса" do
              %i.icon-large.icon-film
            = link_to comfy_project_areas_path(resource), class: "btn btn-small", title: "Квартиры" do
              %i.icon-large.icon-home
            = link_to comfy_project_houses_path(resource), class: "btn btn-small", title: "Дома" do
              %i.icon-large.icon-align-justify
          .btn-group
            = link_to resource_path(resource), class: "btn btn-small", title: "Показать" do
              %i.icon-large.icon-eye-open
            = link_to edit_resource_path(resource), class: "btn btn-small", title: "Редактировать" do
              %i.icon-large.icon-edit
            = link_to resource_path(resource), class: "btn btn-small btn-danger", :method => :delete, :data => { :confirm => 'Вы уверены?' }, title: "Удалить" do
              %i.icon-large.icon-trash
