= javascript_include_tag "http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU"
.page-header
  %h2= resource.title

.well.well-large
  %div
    %label
      %b Заголовок:
    %p= resource.title
  %div
    %label
      %b Адрес:
    %p= raw resource.address.gsub("\\n","<br>")
  %div
    %label
      %b Тип проекта:
    %p= resource.category
  %div
    %label
      %b Краткое описание:
    %p= resource.description
  %div
    - if resource.completed
      %p.label.label-success
        %i.icon-ok
        Достроен
    - else
      %p.label.label-important
        %i.icon-remove
        Не достроен
  %div
    - if resource.published
      %p.label.label-success
        %i.icon-ok
        Опубликован
    - else
      %p.label.label-important
        %i.icon-remove
        Не опубликован
  %div
    %label
      %b Карта
    #yamap{style: "margin-top: 20px;width: 100%;height: 400px;position: relative;"}
    :javascript
      ymaps.ready(function () {
        var myMap = new ymaps.Map("yamap", {
          center: [#{resource.lat}, #{resource.lng}],
          zoom: 15
        }
      );

      myMap.controls.add('zoomControl', { left: 5, top: 5 });

      var myPlacemark2 = new ymaps.Placemark(
        [#{resource.lat}, #{resource.lng}],
        {
            hintContent: '<%= @project.title %>'
        }, {
            iconImageHref: '/assets/baloon.png',
            iconImageSize: [96, 101],
            iconImageOffset: [-60, -95]
        });
        myMap.geoObjects.add(myPlacemark2);
      });


= link_to 'Редактировать', edit_resource_path(resource)
\|
= link_to 'Вернуться назад', collection_path
