<div class="objects">
  <section class="romanov-section">
    <div class="container">
      <div class="sixteen columns">
        <h1>КЛУБНЫЙ ДОМ «РОМАНОВ»</h1>
        <h4 class="add-some-space">БИЗНЕСС-КЛАСС</h4>
      </div>
      <div class="eleven columns">
        <hr class="hr-orange hr-objects-short">
        <p class="desc-p">
          Клубный дом «Романов» находится в 14 км от Санкт-Петербурга в поселке Романовка – уникальным сочетанием живописной природы, богатой истории и развитой инфраструктуры.  Обаяние природы, героическая удаль наших предков – достаточно вспомнить легендарную Дорогу Жизни, проходящую через этот поселок, а также современные условия проживания с большими перспективами развития - идеальные составляющие для жизни за городом в непосредственной близости от Санкт-Петербурга.
        </p>
      </div>
      <div class="four columns offset-by-one">
        <hr class="hr-objects-menu">
        <ul class="objects-menu">
          <li><a href="">Описание объекта</a></li>
          <li><a href="">Цены и планировки квартир</a></li>
          <li><a href="">Ход строительства</a></li>
          <li><a href="">Виртуальный тур</a></li>
          <li><a href="">Купить квартиру</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="projects-slider">
    <div class="project-slide"></div>
    <div class="slider-thumbs center960">
      <% cms_page_content(:slides).images.first(7).each_with_index do |slide, n| %>
          <% if n == 0 %>
              <%= image_tag slide.file, class: 'thumb active-thumb' %>
          <% else %>
              <%= image_tag slide.file, class: 'thumb' %>
          <% end %>
      <% end %>
    </div>
  </section>

  <style>
    .active-thumb {
        border: 2px solid #fc0101;
    }

    .slider-thumbs {
        margin-top: 10px;
    }
    .slider-thumbs img {
        width: 107px;
        height: 67px;
        margin: 7px;

    }

    .active-thumb img {
        border: 2px solid orange;
        margin: 5px;
    }
  </style>

  <script type="text/javascript">
    $('.project-slide').backstretch("<%= cms_page_content(:slides).images.first.file  %>");

    $('.thumb').click(function() {
        $('.thumb').removeClass('active-thumb');
        $(this).addClass('active-thumb');
        console.log($(this));
        $('.project-slide').backstretch($(this).context.src, {fade: 0});
    });


  </script>

  <section class="description-section">
    <div class="container">
      <div class="fifteen columns offset-by-one">
        <h2 class="obj-decr-h2">ОПИСАНИЕ ОБЪЕКТА</h2>
        <hr class="hr-orange hr-object-description">
        <ul>
          <li>Трёхэтажный монолитный дом премиум класса с автономным отоплением.</li>
          <li>48 апартаментов площадью от 30 до 100 м2 с возможностю свободной планировки.</li>
          <li>Огороженная территория с детской площадкой, и зоной отдыха.</li>
          <li>Комплексная транспортная доступность – 14 км от Санкт-Петербурга, асфальтируемый подъезд до самого дома, 1 минута пешком от остановки автобусов и маршрутных такси.</li>
          <li>Для каждых апартаментов предусмотрена парковка.</li>
        </ul>
        <img src="/assets/temps.jpg" />
      </div>
    </div>
  </section>

  <section class="dislocation">
    <div class="container">
      <div class="eleven columns">
          <h2>РАСПОЛОЖЕНИЕ</h2>
          <hr class="hr-orange hr-object-description">
          <p>Клубный дом «Романов» расположен в одноименном поселке. От Санкт-Петербурга его отделяют 14 км Рябовского шоссе. Это направление в последнее время приобретает все большую популярность.</p>
      </div>
    </div>
  </section>

  <section class="map-section-projects">
    <div id="yamap"></div>
  </section>

  <style>
    .map-section-projects {
        width: 100%;
        height: 355px;
    }
    #yamap {
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }
  </style>

  <section class="dislocation-continued">
    <div class="container">
      <div class="fifteen columns offset-by-one clearfix">
        <p class="dislocation-p">Причин этому несколько: в этих местах еще сохранилась нетронутая природа с уникальным для Ленинградской области горным рельефом местности, шоссе имеет выход к крупным водохранилищам. Кроме того, в непосредственной близости от поселка расположены лучшие спортивно-оздоровительные парки и курорты.</p>
        <p>От Рябовского шоссе клубный дом «Романов » отделяют 4 км лесной дороги. Сам дом окружен большим массивом заповедного леса (более 100 га). Где еще в Ленинградской области сегодня можно встретить подобное?</p>
        <h4 class="dislocation-h4">Инфраструктура в шаговой доступности</h4>
        <img src="/assets/v-shage-ot-vas.png" />
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
    ymaps.ready(function () {
        /* Создание экземпляра карты и его привязка к контейнеру с id="YMapsID" */
        var myMap = new ymaps.Map("yamap", {
                    // Центр карты
                    center: [60.044328, 30.708545],
                    // Коэффициент масштабирования
                    zoom: 15
                    // Тип карты
                    //type: "yandex#satellite"
                }


        );

        // Создание метки
        var myPlacemark2 = new ymaps.Placemark(
                // Координаты метки
                [60.046208, 30.708522],
                {
                    // Свойства
                    // Текст метки
                    hintContent: 'Клубный дом Романов'
                }, {
                    iconImageHref: '/assets/baloon.png', // картинка иконки
                    iconImageSize: [96, 101], // размеры картинки
                    iconImageOffset: [-48, -50] // смещение картинки
                });


        // Добавление метки на карту
        myMap.geoObjects.add(myPlacemark2);


    });
</script>