<div id="<%= dom_id area %>" class="project-area">
  <%= link_to project_layout_area_path(@project.slug, area.id), remote: true, class: ('selected' if area.id == @area.id) do %>
    <div class="project-area-name"><%= area.name %> м²</div>
    <%=  image_tag area.photo.url(:thumb) %>
    <div class="project-area-amount">В наличии <b><%= area.amount %></b>  <%= Russian::pluralize(area.amount, 'квартира', 'квартиры', 'квартир') %></div>
  <% end %>
</div>
