%section.description-section
  = hidden_field_tag "request[layout_id]", @layout.id, id: "layout_id"
  .container
    .eleven.columns
      %ul.project-layouts
        - if @area.layouts.size > 1
          - @area.layouts.each do |layout|
            %li{class: ('selected' if layout.eql?(@layout))}= link_to layout.name,
                project_buy_area_layout_path(@project.slug, @area.id, layout.id), remote: true
      - if @layout.photos.first.present?
        %img.project-layout-photo{src: @layout.photos.first.file.url(:photo)}/
    .five.columns.project-layout-description
      %h2= raw @layout.title.gsub("\\n", "")
      %hr.hr-orange.hr-object-description/
      = raw @layout.content
      %hr.hr-silver{style: "margin:10px 0"}/
      #prices
        - @layout.queues.each do |queue|
          .project-layout-price{id: dom_id(queue)}
            %span.currency= number_to_currency queue.price, unit: "руб.", separator: ",", precision: 0
      %hr.hr-silver{style: "margin:10px 0"}/

      .project-layout-amount
        = Russian::pluralize(@layout.amount.to_i, 'Осталась', 'Осталось', 'Осталось')
        в наличии
        %b
          = @layout.amount.to_i
          = Russian::pluralize(@layout.amount.to_i, 'квартира', 'квартиры', 'квартир')


