<section class="description-section">
  <div class="container">
    <div class="eleven columns">
      <ul class="project-layouts">
        <% @area.layouts.each do |layout| %>
          <li class="<%= 'selected' if layout.id == @layout.id %>"><%= link_to raw(layout.name.gsub("\\n", "<br>")), project_layout_area_layout_path(@project.slug, @area.id, layout.id), remote: true %></li>
        <% end %>
      </ul>
      <% if @layout.photos.first.present?%>
        <img class="project-layout-photo" src="<%= @layout.photos.first.file.url(:photo) %>" />
      <% end %>
      <ul class="project-layout-photos">
        <% @layout.photos.first(5).each do |photo| %>
          <li class="<%= 'selected' if photo.id == @layout.photos.first.id %>">
            <a class="group1" href="<%= photo.file.url %>">
              <%= image_tag photo.file.url(:thumb), data: { photo: photo.file.url(:photo) } %>
            </a>
            <span></span>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="five columns project-layout-description">
      <h2><%= raw @layout.title.gsub("\\n", "<br>") %></h2>
      <hr class="hr-orange hr-object-description">
      <%= raw @layout.content %>
      <hr class="hr-silver" style="margin:10px 0">
      <%= render "price" %>
      <div class="project-layout-amount">
        <%= Russian::pluralize(@layout.amount.to_i, 'Осталась', 'Осталось', 'Осталось')   %> в наличии
        <b><%= @layout.amount.to_i %> <%= Russian::pluralize(@layout.amount.to_i, 'квартира', 'квартиры', 'квартир')   %></b>
      </div>

      <%= link_to 'Купить квартиру' , project_buy_area_layout_path(@project.slug, @area.id, @layout.id), class: 'buy-link button' %>
    </div>
  </div>
</section>
