<ul class="objects-menu">
  <li>
    <%= link_to "Описание объекта", project_path(@project.slug) %>
  </li>
  <li>
    <%= link_to "Цены и планировки квартир", project_layout_path(@project.slug) %>
  </li>
  <% unless @project.completed? %>
    <li>
      <%= link_to "Ход строительства", project_progress_path(@project.slug) %>
    </li>
  <% end %>
  <!--<li><a href="">Виртуальный тур</a></li>-->
  <li>
    <%= link_to "Купить квартиру", project_buy_path(@project.slug) %>
  </li>
  <% if @project.with_plan? %>
    <li>
      <%= link_to "Поэтажный план", project_plan_path(@project.slug) %>
    </li>
  <% end %>
</ul>
<script>
  $(".objects-menu li a[href='" + location.pathname + "']").closest("li").addClass("active")
</script>
