<div class="container">
  <h3>Выберите этаж</h3>
  <ul class="project-layouts">
    <% @floors.each do |floor| %>
      <% if floor.id == @current_floor.id || floor.id == @current_floor.floor.try(:id) %>
        <% li_class = "selected"%>
      <% end %>
      <%= content_tag :li, class: li_class do %>
        <%= link_to floor.name, 
          project_plan_path(@project.slug, floor_id: floor.id, house_id: @current_house.id), 
          remote: true %>
      <% end%>
    <% end %>
  </ul>
</div>
<div class="row bg-gray projects active-menu">
  <div class="container columns" style="position: relative;">
    <% if @current_floor.additional_floor.present? || @current_floor.is_additional_floor? %>
      <div class="additional_floors">
        <div class="radio level">
          <%= radio_button_tag :level, @current_floor.first_level.id, !@current_floor.is_additional_floor? %>
          <%= label_tag "level_#{@current_floor.first_level.id}", "1-ый уровень"%>
        </div>
        <div class="radio level">
          <%= radio_button_tag :level, @current_floor.second_level.id, @current_floor.is_additional_floor? %>
          <%= label_tag "level_#{@current_floor.second_level.id}", "2-ой уровень"%>
        </div>
      </div>
    <% end %>

    <div id="floor" ></div>
    <div id="floor_thumbs"></div>
    <script>
      $(function(){
        plan = new Plan({ 
          container: "floor",        
          width: <%= @current_floor.get_width %>, 
          height: <%= @current_floor.get_height %>,
          src: "<%= @current_floor.image.url %>",
          thumbSrc: "<%= @current_floor.image.url(:thumb) %>",
          thumbContainer: "floor_thumbs",
          initOpacity: 0.2
        });
      <% @current_floor.flats.each do |flat| %>
        plan.drawFlat({
        drawPoints: <%= flat.get_poligon_points %>,
        name: '<%= j flat.get_text %>',
        onclickPath: "<%= flat_plan_path(flat) %>",
        color: "<%= flat.get_color %>"
        });
      <% end %>
      plan.layer.draw();
      floor.style.background = "none";
      floor.style.height = "auto";
      });
    </script>
  </div>
</div>
