<div class="prices">
  <h3>Цена</h3>
  <% if @layout.queues.size > 1 %>
    <div class="popup-wrapper">
      <div class="popup">
        <p>Очередь строительства — это часть жилого комплекса, сдаваемая в эксплуатацию в особо установленный для нее срок.</p>
        <p>На данный момент строительтсво ЖК "Румболово Сити" разделен на III очереди</p>
        <p>I очередь — 1-й дом</p>
        <p>II очередь — 2-й дом</p>
        <p>III очередь — 3-й дом</p>
        <p>и т. д.</p>
      </div>
    </div>
    <% @layout.queues.each do |queue| %>
      <div class="project-layout-price">
        <span>на <%= queue.position %> очередь:</span>
        <span class="currency"><%= number_to_currency queue.price, unit: "руб.", separator: ",", precision: 0 %></span>
      </div>
      <hr class="hr-silver" style="margin:10px 0">
    <% end %>
  <% else %>
    <div class="project-layout-price">
      <span class="currency"><%= number_to_currency @layout.price, unit: "руб.", separator: ",", precision: 0 %></span>
    </div>
    <hr class="hr-silver" style="margin:10px 0">
  <% end %>
</div>
