- if @project.buyable?
  = form_for @request, url: send_request_path(@project.slug), remote: true, html: { id: 'form_buy' } do |f|
    .container.projects
      .row
        .sixteen.columns
          %p
            Для того, чтобы приобрести квартиру - оставьте свои контактные данные.
            %br
            Наши менеджеры свяжутся с вами в ближайшее время.
      .row
        .eight.columns
          %label Интересующий жилищный комплекс
          .styled-select
            = f.select :project_id, options_from_collection_for_select(Project.published.all, :id, :title, @project.id)
    .row.bg-gray.projects
      .columns
        .content
          %label Площадь квартиры:
          - @project.areas.each do |area|
            .radio.ajax
              = f.radio_button :area_id, area.id, checked: @area == area
              = f.label "area_id_#{area.id}", "#{area.name} м²"
    .container.projects.objects
      .row
        = render "area_view_buy"
      - if @layout.queues.size > 1
        .row
          .eight.columns
            .wrapper{style: "position: absolute;left: 310px;margin-top: -5px;"}
              .popup
                %p Цена может меняться в зависимости от очереди.
            %label Выберите очередь строительства
            .styled-select
              = f.select :queue_id, options_for_select( @layout.queues.map{|q| ["#{q.position} очередь", q.id]})
  
      .row
        .eight.columns
          %label.radios Вид оплаты:
          .red.radio
            = f.radio_button :payment, 'cash', checked: true
            = f.label :payment_cash, "Наличные"
          .red.radio
            = f.radio_button :payment, 'credit'
            = f.label :payment_credit, "Ипотека"
      .row
        .eight.columns
          %label
            Как к вам обращаться:
            = f.text_field :name, placeholder: 'Любимый покупатель'
      .row
        .eight.columns
          %label
            Как с вами связаться:
            = f.text_field :email, placeholder: 'E-mail или номер телефона'
      .row
        .eight.columns
          = submit_tag 'Отправить заявку на покупку'
- else
  .container.projects
    .row
      %h3 Раздел находится в разработке.
