<div class="four columns offset-by-one">
  <div class="project-address">
    <p><%= raw @project.address.gsub("\\n","<br>") %></p>
    <p><a href="#map">посмотреть на карте</a></p>
  </div>

  <%= render "objects_menu" %>
</div>
