- active_menu_class('projects')
- page_title @project.title
.breadcrubms.center960
  %ul
    %li
      %a{href: "/"} Главная
    %li    /   
    %li
      %a{href: "/projects"} Проекты
    %li    /   
    %li
      %a{href: project_path(@project.slug)}= @project.title
    %li    /   
    %li{style: "color: rgb(205, 205, 205);"} Купить квартиру
    %li
%div{style: "clear: both;"}
%hr.hr-orange.hr-breadcrubms
#buy
  .container.projects
    .sixteen.columns
      %h2.project-h2.projects-index-header КУПИТЬ КВАРТИРУ
      %hr.hr-orange/
  = render "project_form"
:css
  .popup-wrapper {
    left: 550px !important;
  }
  .projects-index-header {
    margin-top: 21px;
    margin-bottom: 30px;
  }

  .infobox {
    width: 520px;
  }

  .info-right {
    margin-left: 45px;
    margin-top: 70px;
  }

  h2 {
    font-family: "Open Sans";
    font-size: 38px;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
  }
