<%
    active_menu_class('projects')
page_title @project.title
%>
<div class="breadcrubms center960">
  <ul>
    <li><a href="/">Главная</a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li><a href="/projects">Проекты</a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li><a href="<%= project_path(@project.slug) %>"><%= @project.title %></a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li style="color: rgb(205, 205, 205);">
      <%= link_to "Поэтажный план", project_plan_path(@project.slug) %>
    </li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li style="color: rgb(205, 205, 205);">Фотографии квартиры</li>
    <li></li>
  </ul>
</div>

<div style="clear: both;"></div>
<hr class="hr-orange hr-breadcrubms">

<div class="objects">
  <section>
    <div class="container">
      <div class="columns">
        <h1>Квартира №<%= @flat.number %></h1>
        <% if @flat.description.present? %>
          <hr class="hr-orange hr-objects-short" style="width: 260px;">
          <p class="desc-p">
            <%= raw @flat.description %>
          </p>
        <% end %>
      </div>
    </div>
  </section>

  <% if @flat.flat_images.present? %>
    <section class="projects-slider progress">
      <div class="project-slide" style="height: 860px;">
        <div class="slide-arrows">
          <a class="right-arrow disabled" style="display: block;">
            <div class="tooltip"></div>
          </a>

          <a class="left-arrow" style="display: block;">
            <div class="tooltip"></div>
          </a>
        </div>
        <% if @flat.flat_images.present? %>
          <%= image_tag "ajax-loader.gif", class: "ajax-loader" %>
        <% end %>
        <div id="featured" class="backstretch-container"></div>
        <div class="container">
          <div class="slide-container">
            <div id="slider"></div>
          </div>
        </div>
      </div>
      <div class="slider-thumbs center960">
        <% @flat.flat_images.each_with_index do |photo, n| %>
          <image-data src=<%= photo.image.url %> class="thumb" data-day="<%= photo.data_day %>" alt="<%= l(photo.date.to_date, format: :short).mb_chars.capitalize.to_s %>"></image-data>
        <% end %>
      </div>

    </section>
    <script type="text/javascript">
      <% if @flat.flat_images.present? %>
        $('.backstretch-container').backstretch("<%= @flat.flat_images.last.image.url %>");
      <% end %>

      $('.thumb').click(function() {
          $('.thumb').removeClass('active-thumb');
          $(this).addClass('active-thumb');
          $('.backstretch-container').backstretch($(this).context.src, {fade: 0});
          });

          var tooltip = $('<div id="tooltip" class="tooltip"><div></div></div>').hide();
          tooltip.find('div').text($('.active-thumb').attr('alt'));
          $("#slider").slider({
          min: 0,
          max: <%= @flat.flat_images.size %> - 1,
          value: <%= @flat.flat_images.size %> - 1,
          animate: true,
          range: "min"
          }).find(".ui-slider-handle").append(tooltip).hover(function () {
            tooltip.show()
            }, function () {
            tooltip.hide()
            });
</script>
    <% else %>
      <div class="container row">
        <h3>Пока здесь нет фотографий</h3>
      </div>
    <% end %>
    <style>
      #featured {
        background: #ffffff url('/assets/ajax-loader.gif') no-repeat center center;
        overflow : hidden;
        z-index : -100;
      }
    </style>

</div>
