<%
    active_menu_class('projects')
    page_title 'Проекты'
%>

<div class="breadcrubms center960">
  <ul>
    <li><a href="/">Главная</a></li><li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li><li><a href="/projects" style="color: rgb(205, 205, 205);">Проекты</a></li><li>
  </li></ul>
</div>

<div style="clear: both;"></div>

<hr class="hr-orange hr-breadcrubms">

<script type="text/javascript">
    $('.breadcrubms li a').last().css('color', '#cdcdcd');
</script>

<div class="container">
  <div class="sixteen columns">
    <h2 class="project-h2 projects-index-header">ПРОЕКТЫ</h2>
  </div>
</div>

<div class="container">
  <div class="sixteen columns">
    <ul class="project-select">
      <%- if Project.published.underway.present? %>
      <li class="<%= 'active-project' if params[:scope].nil? %>"><a href="<%= projects_path %>">Строящиеся</a></li>
      <%- end %>
      <%- if Project.published.completed.present? %>
      <li class="<%= 'active-project' if params[:scope] == :completed %>"><a href="<%= projects_completed_path %>">Завершенные</a></li>
      <%- end %>
      <%- if Project.published.completed.present? && Project.published.underway.present? %>
      <li class="<%= 'active-project' if params[:scope] == :all %>"><a href="<%= projects_all_path %>">Все</a></li>
      <%- end %>
    </ul>
  </div>
</div>

<div style="clear: both"></div>

<style>
  ul.project-select {
    list-style: none;
    margin-bottom: 60px;
  }

  ul.project-select li {
      float: left;
      padding: 10px 20px 10px 20px;
      margin-right: 10px;
  }

  ul.project-select li.active-project {
      background-color: #d7240a;
  }

  ul.project-select li a {
    text-decoration: none;
    color: black;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
  }

  ul.project-select li.active-project a {
      color: white;
  }
</style>


<% @collection.each do |project| %>
  <% align_info = cycle('right', 'left', name: :align_info) %>
  <% align_image = cycle('left', 'right', name: :align_image) %>
  <div class="project-section">
    <div class="project-image center-cropped image-align-<%= align_image %>"
      onclick="window.location = '<%= project_path(project.slug) %>'" style="cursor:pointer;background-image: url('<%= project.photo.url(:normal) %>');">
    </div>

    <div class="project-info">
      <div class="infobox info-<%= align_info %>">
        <a href="<%= project_path(project.slug) %>"><h2 class="project-h2"><%= project.title %></h2></a>

        <h3 class="project-h3"><%= project.category %></h3>
        <hr class="hr-orange hr-project-info"/>
        <p class="project-address"><%= project.address.gsub("\\n", "") %></p>
        <p class="project-link-map"><a href="<%= project_path(project.slug, anchor: 'map') %>">Посмотреть на карте</a></p>

        <div class="project-icons">
          <a class="icon-project-info" title="Описание объекта" href="<%= project_path(project.slug) %>"></a>
          <a class="icon-project-layout" title="Цены и планировки квартир" href="<%= project_layout_path(project.slug) %>"></a>

          <%- unless project.completed? %>
            <a class="icon-project-progress" title="Ход строительства" href="<%= project_progress_path(project.slug) %>"></a>
            <%- if project.live.present? %>
              <a class="icon-project-live" title="Виртуальный тур" href="<%= project_live_path(project.slug) %>"></a>
            <%- end %>
          <%- end %>

          <a class="icon-project-buy" title="Купить квартиру" href="<%= project_buy_path(project.slug) %>"></a>
        </div>
      </div>
    </div>
  </div>
<% end %>


<style>
  .image-align-left{
    float:left;
    background-position: center right;
  }
  .image-align-right{
    float:right;
    background-position: center left;
  }
  .projects-index-header {
      margin-top: 21px;
      margin-bottom: 30px;
  }

  .infobox {
      width: 520px;
  }

  .infobox a {
      text-decoration: none;
  }

  .info-right {
      margin-left: 45px;
      margin-top: 70px;
  }

  h2 {
      font-family: "Open Sans";
      font-size: 38px;
      font-weight: 300;
      color: black;
      text-transform: uppercase;
  }

  h3 {
      font-family: "Open Sans";
      font-size: 26px;
      font-weight: 300;
      color: gray;
      text-transform: uppercase;
  }

  .hr-project-info {
      width: 137px;
      border-width: 2px;
      margin-top: 25px;
  }

  .project-address {
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      line-height: 26px;
      color: #6d6d6f;
  }

  .project-link-map a {
      color: #fc0101;
      font-family: "Open Sans";
      font-size: 15px;
      font-style: italic;
      font-weight: 300;

      padding: 5px 34px 5px 0;

      background: transparent url('/assets/link_to_map.png') no-repeat right center;
  }

  .project-icons {
      margin-left: -5px;
      margin-top: 35px;
  }

  .project-icons img {
      margin-right: 10px;
  }

</style>

<div style="clear: both"></div>

<style>
  body {
      overflow-x: hidden;
  }

  .info-left {
      text-align: right;
      float: right;
      margin-top: 75px;
      margin-right: 40px;
  }

  .info-left .project-icons a {
      margin: 0 0 0 18px;
  }

  .info-left .hr-project-info {
      margin-left: 377px;
  }

  .project-section {
      width: 100%;
      height: 470px;
      overflow:hidden;

      margin: 0 auto;
  }

  .project-image {
    width: 50%;
    background-repeat: no-repeat;
    height: 470px;
  }

  .project-info {
      float: right;
      width: 50%;
      height: 470px;
      background-color: white;
      overflow: hidden;
  }
</style>
