<%
   active_menu_class('projects')
   page_title @project.title
%>

<div class="breadcrubms center960">
  <ul>
    <li><a href="/">Главная</a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li><a href="/projects">Проекты</a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li><a href="<%= project_path(@project.slug) %>"><%= @project.title %></a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li style="color: rgb(205, 205, 205);">Цены и планировки квартир</li>
    <li></li>
  </ul>
</div>

<div style="clear: both;"></div>
<hr class="hr-orange hr-breadcrubms">

<div class="objects">
  <section class="romanov-section">
    <div class="container">
      <div class="sixteen columns">
        <h1>Цены и планировки квартир</h1>
      </div>
      <div class="eleven columns">
        <hr class="hr-orange hr-objects-short">
        <div class="desc-p">
          <%= raw @project.layout %>
        </div>
      </div>
      <div class="four columns offset-by-one">
        <h2><%= @project.title %></h2>
        <hr class="hr-objects-menu">
        <%= render "objects_menu" %>
      </div>
    </div>
  </section>

  <% if @areas.present? %>
    <section class="description-section">
      <div class="container">
        <div class="sixteen columns">
          <h2 class="obj-decr-h2">Выберите тип квартиры</h2>
          <hr class="hr-orange hr-object-description">
          <div class="project-areas">
            <% if @areas.count > 3 %>
              <div class="arrows">
                <a class="right-arrow"></a>
                <a class="left-arrow"></a>
              </div>
            <% end %>
            <div class="areas desktop">
              <% @areas.each do |area| %>
                <%= render "area_view", area: area %>
              <% end %>
            </div>
            <div class="areas mobile">
              <% @areas.each do |area| %>
                <%= render "area_view", area: area %>
              <% end %>
            </div>
            <div class="pagination" style="display: block;"></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <% if @layout.present? %>
    <div id="layout_description">
      <%= render "layout_description" %>
    </div>
  <% end %>
</div>
