$('#layout_description').html("<%= j render("layout_description") %>");
$(".project-area .selected").removeClass("selected");
$("#<%= dom_id @area %> a").addClass("selected");
$('.project-layout-photo').click(function(){
  $('.project-layout-photos li a').colorbox({
    photo: true,
    rel:'group1',
    open: true,
    maxHeight: "100%",
    maxWidth: "100%",
    scalePhotos: true
  });
  $('.project-layout-photos li.selected a').click()
});
$('.project-layout-photos li').click(function(){
  $('.project-layout-photos li').removeClass('selected')
  $(this).addClass('selected');
  $('.project-layout-photo').attr('src', $(this).find('img').data('photo'));
  if($("#colorbox").css("display")=="block"){
    return true;
  }else{
    return false;
  }
});
$('.popup').popup();
