- active_menu_class('projects')
- page_title @project.title
.breadcrubms.center960
  %ul
    %li
      %a{href: "/"} Главная
    %li    /   
    %li
      %a{href: "/projects"} Проекты
    %li    /   
    %li
      %a{href: project_path(@project.slug)}= @project.title
    %li    /   
    %li{style: "color: rgb(205, 205, 205);"} Онлайн-трансляция
    %li
%div{style: "clear: both;"}
%hr.hr-orange.hr-breadcrubms/
.objects
  %section.romanov-section
    .container
      .eight.columns
        %h1 Онлайн-трасляция
      %ul.progress-menu
        %li.live.active
          %span Онлайн-трансляция
        %li.slides
          %a{href: project_progress_path(@project.slug)} Фотоархив
  %section.projects-stream
    .container{style: "text-align: center;"}
      %p
        %img{border:"0", height: "720", name: "image", width: "960"}
        :javascript
          var t = 5; // интервал обновления в секундах
          var img2 = "#{@project.embed_stream}";
          document.images["image"].src = img2;
          Start(img2, "image");

          function Start(img, name) {
            tmp = new Date();
            tmp = "&"+tmp.getTime();
            document.images[name].src = img + tmp;
            var delay = function() { Start(img, name); };
            setTimeout(delay, t * 1000);
          }
