<%
    active_menu_class('projects')
    page_title @project.title
%>

<div class="breadcrubms center960">
  <ul>
    <li><a href="/">Главная</a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li><a href="/projects">Проекты</a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li><a href="<%= project_path(@project.slug) %>"><%= @project.title %></a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li style="color: rgb(205, 205, 205);">Поэтажный план</li>
    <li></li>
  </ul>
</div>

<div style="clear: both;"></div>
<hr class="hr-orange hr-breadcrubms">

<div class="objects">
  <div class="container">
    <h3> Выберите очередь строительства</h3>
    <div class="row">
      <div class="eight columns">
        <div class="styled-select">
          <%= select_tag "house_id", options_for_select( @houses.map{|q| [q.name, q.id]})%>
        </div>
      </div>
    </div>
  </div>
  <div id="ajax_body">    
    <%= render "plan_body" %>
  </div>
</div>

</div>
