<%
   active_menu_class('projects')
   page_title @project.title
%>
<div class="breadcrubms center960">
  <ul>
    <li><a href="/">Главная</a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li><a href="/projects">Проекты</a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li><a href="<%= project_path(@project.slug) %>"><%= @project.title %></a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li style="color: rgb(205, 205, 205);">Ход строительства</li>
    <li></li>
  </ul>
</div>

<div style="clear: both;"></div>
<hr class="hr-orange hr-breadcrubms">

<div class="objects">
  <section class="romanov-section">
    <div class="container">
      <div class="eight columns">
        <h1>Ход строительства</h1>
      </div>
      <ul class="progress-menu">
        <% if @project.embed_stream.present? %>
          <li class="live"><a href="<%= project_live_path(@project.slug) %>">Онлайн-трансляция</a></li>
        <% end %>
        <li class="slides"><span>Фотоархив</span></li>
      </ul>
    </div>
  </section>

  <% if @project.slides.present? %>
    <section class="projects-slider progress">
      <div class="project-slide" style="height: 860px;">
      <div class="slide-arrows">
        <a class="right-arrow disabled" style="display: block;">
          <div class="tooltip"></div>
        </a>

        <a class="left-arrow" style="display: block;">
          <div class="tooltip"></div>
        </a>
      </div>
        <% if @project.slides.present? %>
          <%= image_tag "ajax-loader.gif", class: "ajax-loader" %>
        <% end %>
        <div id="featured" class="backstretch-container"></div>
        <div class="container">
          <div class="slide-container">
            <div id="slider"></div>
          </div>
        </div>
      </div>
      <div class="slider-thumbs center960">
        <% @project.slides.each_with_index do |photo, n| %>
          <image-data src=<%= photo.file.url(:normal) %> class="thumb" data-day="<%= photo.data_day %>" alt="<%= l(photo.date.to_date, format: :short).mb_chars.capitalize.to_s %>"></image-data>
        <% end %>
      </div>

    </section>

  <% end %>
  <% if @project.slides.present? %>

    <script type="text/javascript">
      <% if @project.slides.present? %>
        $('.backstretch-container').backstretch("<%= @project.slides.last.file.url(:normal) %>");
      <% end %>

      $('.thumb').click(function() {
          $('.thumb').removeClass('active-thumb');
          $(this).addClass('active-thumb');
          $('.backstretch-container').backstretch($(this).context.src, {fade: 0});
          });

      var tooltip = $('<div id="tooltip" class="tooltip"><div></div></div>').hide();
      tooltip.find('div').text($('.active-thumb').attr('alt'));
      $("#slider").slider({
      min: 0,
      max: <%= @project.slides.size%> - 1,
      value: <%= @project.slides.size%> - 1,
      animate: true,
      range: "min",
      }).find(".ui-slider-handle").append(tooltip).hover(function () {
        tooltip.show()
        }, function () {
        tooltip.hide()
        });
    </script>
<% end %>
<style>
        /* CSS for jQuery Orbit Plugin 1.2.3
* www.ZURB.com/playground
* Copyright 2010, ZURB
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php



/* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
 ================================================== */
    #featured {
        background: #ffffff url('/assets/ajax-loader.gif') no-repeat center center;
        overflow : hidden;
        z-index : -100;
    }


</style>

</div>
