- if @request.valid?
  :plain
    $("#buy").fadeOut("slow", function(){
      $("#buy").replaceWith("#{j %Q(
      <div class="container success projects active-menu">
        <div class="sixteen columns">
          <h2 class="project-h2 projects-index-header">СПАСИБО!</h2>
          <hr class="hr-orange">
        </div>
        <div class="sixteen columns">
          <p>В ближайшее время наши менеджеры свяжутся с вами по вопросу приобретения квартиры.</p>
          <p>
            <a href="/">Вернуться на главную</a>
          </p>
        </div>
      </div>)
      }");
      $("#buy").fadeIn("slow");
    });
- else
  - @request.errors.keys.each do |name|
    :plain
      $('input#request_#{name}').effect("highlight",  {}, 1000)
