<%
   active_menu_class('projects')
   page_title @project.title
%>

<div class="breadcrubms center960">
  <ul>
    <li><a href="/">Главная</a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li><a href="/projects">Проекты</a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li><a href="<%= project_path(@project.slug) %>"><%= @project.title %></a></li>
    <li>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</li>
    <li style="color: rgb(205, 205, 205);">Описание объекта</li>
    <li></li>
  </ul>
</div>

<div style="clear: both;"></div>
<hr class="hr-orange hr-breadcrubms">

<div class="objects">
  <section class="romanov-section">
    <div class="container">
      <div class="eleven columns">
        <h1><%= @project.title %></h1>
        <h4 class="add-some-space"><%= @project.category %></h4>

        <hr class="hr-orange hr-objects-short">
        <p class="desc-p">
          <%= raw @project.description %>
        </p>
      </div>
      <%= render "side_menu" %>
    </div>
  </section>

  <section class="projects-slider show">
    <div class="project-slide"><div class="project-slide-zoom"></div></div>
    <div class="slider-thumbs center960">
      <% @project.photos.first(7).each_with_index do |photo, n| %>
          <a class="group1" href="<%= photo.file.url(:normal) %>">
          <% if n == 0 %>
              <%= image_tag photo.file.url(:thumb), class: 'thumb active-thumb' %>
          <% else %>
              <%= image_tag photo.file.url(:thumb), class: 'thumb' %>
          <% end %>
          </a>
      <% end %>
    </div>
  </section>

  <style>
    .active-thumb {
        border: 2px solid #fc0101;
    }

    .slider-thumbs {
        margin-top: 10px;
    }

    .slider-thumbs a { text-decoration: none; outline: none; }

    .slider-thumbs img {
        width: 107px;
        height: 67px;
        margin: 7px;
    }

    .active-thumb img {
        border: 2px solid orange;
        margin: 5px;
    }
  </style>

  <style>
      .map-section-projects {
          width: 100%;
          height: 355px;
      }
      #yamap {
          margin-top: 20px;
          width: 100%;
          height: 100%;
          position: relative;
      }

      a.yamap-link {
          position: absolute;
          bottom: 20px;
          left: 20px;
          z-index: 10;
          font-size: 14px;
          color: #fc2121;
      }
  </style>

  <script type="text/javascript">
    <% if @project.photos.first %>
    $('.project-slide').backstretch("<%= @project.photos.first.file.url %>");
    <% end %>

    $('.thumb').click(function() {
        $('.thumb img').removeClass('active-thumb');
        $(this).find('img').addClass('active-thumb');
        $('.project-slide .backstretch').remove();
        $('.project-slide').backstretch($(this).parent().attr('href'), {fade: 0});
    });
  </script>

  <section class="description-section">
    <div class="container">
      <div class="fifteen columns offset-by-one">
        <h2 class="obj-decr-h2">ОПИСАНИЕ ОБЪЕКТА</h2>
        <hr class="hr-orange hr-object-description">
        <%= raw @project.content %>
      </div>
    </div>
  </section>

  <section class="dislocation">
    <div class="container">
      <div class="eleven columns">
          <h2>РАСПОЛОЖЕНИЕ</h2>
          <hr class="hr-orange hr-object-description">
          <p><%= raw @project.location %></p>
      </div>
    </div>
  </section>

  <section class="map-section-projects">
    <a name="map"></a>
    <div id="yamap">
      <a class="yamap-link" href="http://maps.yandex.ru/?ll=<%= @project.lng %>,<%= @project.lat %>&z=16&l=map&p=<%= @project.lng %>,<%= @project.lat %>&oll=<%= @project.lng %>,<%= @project.lat %>&text=<%= @project.title %>" >
        Посмотреть на карте большего масштаба
      </a>
    </div>
  </section>

  <section class="dislocation-continued">
    <div class="container">
      <div class="fifteen columns offset-by-one clearfix">
        <%= raw @project.location_content %>

        <% if @project.objects.count > 0 %>
        <h4 class="dislocation-h4">Инфраструктура в шаговой доступности</h4>
        <ul class="object-icons">
          <% @project.objects.each do |o| %>
          <li class="object-icons-<%= o %>"><%= t(o, scope: 'objects')%></li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
  var projectSlider = new Slider;
  projectSlider.start()
    ymaps.ready(function () {
        var myMap = new ymaps.Map("yamap", {
                    center: [<%= @project.lat %>, <%= @project.lng %>],
                    zoom: 15
                }
        );

        myMap.controls.add('zoomControl', { left: 5, top: 5 });

        var myPlacemark2 = new ymaps.Placemark(
                [<%= @project.lat %>, <%= @project.lng %>],
                {
                    hintContent: '<%= @project.title %>'
                }, {
                    iconImageHref: '/assets/baloon.png',
                    iconImageSize: [96, 101],
                    iconImageOffset: [-60, -95]
                });
        myMap.geoObjects.add(myPlacemark2);
    });
</script>
