#floor{
  overflow: scroll;
  overflow-y: hidden;
}
#floor_thumbs{
  margin: 10px auto;
  width: 600px;
}
ul.list#root-sort .icon{
  display:block !important;
  background: url("/assets/comfortable_mexican_sofa/icon_move.gif") !important;
  cursor: move;
}
ul.children .icon{
  margin-top: 15px;
}
.remove{
  position: relative;
  top: 15px;
  left: 5px;
  cursor: pointer;
}
.hidden-slide{
  display:none !important;
}
body#comfy .award{
  background: #ededed !important;
  border-bottom: #bd402f 3px solid;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  display: block;
  float: left;
  min-height: 200px;
  min-width: 200px;
  padding-top: 22px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
}

