Заявка на покупку квартиры

ФИО: <%= strip_tags(@buy_request.name) %>
Эл. почта: <%= strip_tags(@buy_request.email) %>

Вид оплаты: <%= @buy_request.payment == 'cash' ? 'Наличные' : 'Ипотека' %>


<% @area = @buy_request.area %>
<% @layout = @buy_request.layout %>

Интересуемая квартира:
<%= @buy_request.project.title %>
<% if @buy_request.queue.present?%>
  Номер очереди:
  <%= @buy_request.queue.position %>
<% end %>
