= form_for(resource, url: resource.new_record? ? comfy_project_floors_url(house_id: @house.id) : comfy_project_floor_url(resource, house_id: @house.id),
                     html: { method: (resource.new_record? ? "post" : "put") ,
                             class: "formatted form-horizontal"}) do |f|
  - if resource.errors.any?
    .alert
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %strong Внимание!
      %br
      = raw resource.errors.full_messages.join("<br>")

  .control-group
    = f.label :image, "План", class: "control-label"
    .controls
      %div
        .fileupload.fileupload-new{"data-provides" => "fileupload"}
          %span.btn.btn-file
            %span.fileupload-new Загрузить план
            %span.fileupload-exists Изменить план
            = f.file_field :image
          %span.fileupload-preview
          %a.close.fileupload-exists{"data-dismiss" => "fileupload", :href => "#", :style => "float: none"} ×
  .control-group
    = f.label :name, "Название", class: "control-label"
    .controls
      .span2{style:"margin:0"}
        = f.text_field :name
  - if resource.image.present?
    .control-group
      .controls
        %div
          = image_tag resource.image.url, class: "img-polaroid"
  - if resource.is_additional_floor?
    .control-group
      .controls
        %div
          %p Связан с #{resource.floor.name}
  - else
    .control-group
      = f.label :additional_floor, "Связать с планом", class: "control-label"
      .controls
        .span2{style:"margin:0"}
          = f.select :additional_floor_id, 
            options_from_collection_for_select(resource.house.floors, :id, :name, resource.additional_floor_id)
  .form-actions
    = f.submit 'Сохранить', class: 'btn'
