.page-header
  = link_to 'Добавить', new_comfy_project_floor_path(@house.project_id, house_id: @house.id), class: 'btn btn-primary pull-right'
  %h2
    Этажи дома:
    = @house.name


%table.table.table-striped.table-bordered
  %thead
    %th{style: "text-align:center;vertical-align:middle"} План
    %th{style: "text-align:center;vertical-align:middle"} Название
    %th
  %tbody
    - collection.each do |resource|
      %tr
        %td{style: "text-align:center;vertical-align:middle"}= image_tag resource.image.url(:admin), class: "img-polaroid"
        %td{style: "text-align:center;vertical-align:middle"}= resource.name
        %td{style: "text-align:center;vertical-align:middle"}
          .btn-group
            = link_to comfy_project_flats_path(@house.project_id, floor_id: resource.id), class: "btn btn-small", title: 'Квартиры' do
              %i.icon-large.icon-th-large
          .btn-group
            = link_to edit_comfy_project_floor_path(@house.project_id, resource.id, house_id: @house.id), class: "btn btn-small", title: "Редактировать" do
              %i.icon-large.icon-edit
            = link_to comfy_project_floor_path(@house.project_id, resource.id, house_id: @house.id), class: "btn btn-small btn-danger", :method => :delete, :data => { :confirm => 'Вы уверены?' }, title: "Удалить" do
              %i.icon-large.icon-trash

