= form_for [:comfy, @partner], html:{class: "formatted form-horizontal"} do |f|
  - if @partner.errors.any?
    .alert
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %strong Внимание!
      %br
      = raw @partner.errors.full_messages.join("<br>")

  .control-group
    = f.label :image, "Изображение", class: "control-label"
    .controls
      %div
        .fileupload.fileupload-new{"data-provides" => "fileupload"}
          %span.btn.btn-file
            %span.fileupload-new Загрузить изображение
            %span.fileupload-exists Изменить изображение
            = f.file_field :image
          %span.fileupload-preview
          %a.close.fileupload-exists{"data-dismiss" => "fileupload", :href => "#", :style => "float: none"} ×
  - if @partner.image?
    .control-group
      .controls
        %div
          = image_tag @partner.image.admin.url, class: "img-polaroid"
  .control-group
    = f.label :name, "Название", class: "control-label"
    .controls
      .span5{style:"margin:0"}
        = f.text_field :name
  .control-group
    = f.label :slug, "Ссылка", class: "control-label"
    .controls
      .span5{style:"margin:0"}
        = f.text_field :slug
  .form-actions
    = f.submit 'Сохранить', class: 'btn'
