.page-header
  = link_to 'Добавить', new_comfy_partner_path, class: 'btn btn-primary pull-right'
  %h2 Список Партнеров

- if @partners.present?
  %ul.list#root-sort
    - @partners.each do |partner|
      %li{id: dom_id(partner)}
        .item
          .icon.published
            .dragger.root
              %span ⇅
          .btn-group
            = link_to "Редактировать", edit_comfy_partner_path(partner), class: "btn btn-small"
            = link_to comfy_partner_path(partner), class: "btn btn-small btn-danger", :method => :delete, :data => { :confirm => 'Вы уверены?' }, title: "Удалить" do
              %i.icon-large.icon-trash
          .item-content
            .item-title
              %a.item-label{:href => partner.slug}= partner.name

- else
  .alert.fade.in
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %strong Holy guacamole!
    Создайте хотябы одиного партнеры!
    = link_to "Создать партнера", new_comfy_partner_path


:javascript
  $("#root-sort").sortable({
    axis: "y",
    handle: ".dragger.root",
    revert: true,
    update: function( event, ui ) {
      $.ajax({
        type: "PUT",
        url: "#{sort_comfy_partners_path}",
        data: $("#root-sort").sortable('serialize')
      })
    }

  });
