= form_for @advertisement, url: comfy_advertisement_blocks_path, 
  html:{class: "formatted form-horizontal"}, method: :post do |f|
  - if @advertisement.errors.any?
    .alert
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %strong Внимание!
      %br
      = raw resource.errors.full_messages.join("<br>")

  .control-group
    = f.label :permalink, "Ссылка", class: "control-label"
    .controls
      %div
        = f.text_field :permalink

  .control-group
    = f.label :color, "Цвет", class: "control-label"
    .controls
      .span2{style: "margin:0;"}
        = f.text_field :color, class: "colorpicker"

  .control-group
    = f.label :content, "Содержание", class: "control-label"
    .controls
      %div
        = f.text_area :content, class: "wysihtml5", style: "height: 100px;"
  .control-group
    = f.label :published, "Отображать?", class: "control-label"
    .controls
      %div
        = f.check_box :published
  .form-actions
    = f.submit 'Сохранить', class: 'btn'

