footer {
    min-height: 238px;
    background-color: #ece7d3;
}

.footer-section {
    padding-top: 72px;
}

.hr-footer {
    width: 240px;
}

.footer-sds {
    font-size: 13px;
}

div.footer-social {
    margin-top: -9px;
}

.footer-social a {
    outline: none;
}

.footer-social img {
    margin-right: 10px;
}

.footer-social p {
    margin-left: 10px;
    margin-top: 4px;
}

.footer-contacts p {
}

footer p {
    line-height: 18px;
}

footer table p {
    font-size: 13px;
}

.footer-contacts td {
    padding-right: 25px;
}


.ml-copyright {
    margin-left: 30px;
}

.ml-copyright img {
    padding-right: 15px;
}

.hr-orange {
    border: 1px solid #fc0101;
}

.pull-left {
    float: left;
}