.logo {
    float: left;
}

.logo img {
    height: 71px;
}

.head-class {
    margin-top: 15px;
    margin-left: 5px;
}

.slogan {
    float: left;
    font-family: "Open Sans";
    font-size: 14px;
    margin-left: 90px;
    margin-top: 10px;
    color: #000000;
}

.code {
    color: #0a5478;
    color: #fc0101;
    opacity: 0.6;
    padding-right: 5px;
}

.phone {
    float: left;
    margin-top: 15px;
    margin-left: 100px;
    font-family: "Open Sans";
    font-size: 22px;
    color: #fc0101;
    /*color: #000000;*/

}


.vk-social {
    float: left;
    margin-left: 35px;
    margin-top: 12px;
}

.fb-social {
    float: left;
    margin-left: 10px;
    margin-top: 12px;

}
