header {
  height: 160px;
  overflow: hidden;
  background-color: #ece7d3;
}
@media screen and (min-device-width: 718px) and (max-device-width: 1074px){
  header {
    height: 215px;
    background-color: #ece7d3;
  }

}

.menu {
  background-color: white;
  height: 52px;
  margin: 0 auto;
  width: 100%;
  background-color: #ece7d3;
}

.active-menu {
  background-color: white;

}


li {
  padding: 0;
  margin: 0;
}

nav.menu ul {
  list-style: none;
}

nav.menu ul li {
  float: left;
  width: 25%;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

nav.menu ul li a {
  float: left;
  display: block;
  width: 100%;

  font-family: "Open Sans";
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  margin-top: 9px;
  padding-top: 7px;
  padding-bottom: 5px;

  border-right: 1px solid #b4b4b4;
}

nav.menu ul li .last {
  border-right: none;
}

nav.menu ul .active-menu a {
  border-right: none;
}

.code {
  color: #fc0101;
  opacity: 0.6;
}

.center960 {
  margin: auto;
  width: 960px;
}

.content {
  color: #58585a;
  h1, h2, h3 {
    font-family: 'Open Sans';
    font-weight: 300;

    color: #58585a;
  }

  h1, h2 {
    text-transform: uppercase;
  }

  h1, h2 {
    font-size: 36px;
    display: block;

    &:after {
      content: '';
      border-top: 3px #fc0101 solid;
      display: block;
      width: 140px;

      margin: 28px 0;
    }
  }

  h2 {
    font-size: 28px;

    margin: 52px 0 26px 0;
  }

  h3 {
    font-size: 24px;
  }

  ul {
    li {
      list-style-type: none;
      background-image: url("/assets/objects-li-bullet.png");
      background-repeat: no-repeat;
      background-position: 0 11px;
      margin-top: 20px;
      line-height: 25px;
      padding-left: 40px;
    }
  }

  p.intro {
    font-size: 17px;
    font-style: italic;
    line-height: 30px;
  }

  blockquote, blockquote p {
    margin: 50px 0 20px 108px;
    padding: 0;

    border: none;

    font-size: 15px;
    font-style: normal;
    line-height: 30px;
    color: #58585a;
  }

  blockquote p {
    margin: 0 0 36px 0;
  }

  q {
    display: block;
    background: transparent url('q.png') no-repeat left top;

    border: 1px solid #f5f5f5;

    padding: 32px 40px 32px 84px;
    margin-bottom: 20px;

    font-size: 15px;
    font-style: italic;
    line-height: 27px;

    color: #58585a;
  }

  .page-menu {
    margin-top: 78px;
    width: 170px;

    border-top: 3px solid #eeeded;
  }

  .page-menu li {
    list-style-type: none;
    background-image: url("/assets/objects-li-bullet.png");
    &.active{
      background-image: url("/assets/objects-li-black-bullet.png");
      a{
        color: rgb(128, 128, 128);
        text-decoration: none;
      }
    }
    background-repeat: no-repeat;
    background-position: 0 11px;
    margin-top: 20px;
    line-height: 18px;
    padding-left: 40px;
  }

  .page-menu li a {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    color: #fc0101;
  }
}

.content-about-background {
  background: transparent url('about.jpg') center top;

  height: 230px;

  margin: -30px 0 60px 0;
}

body .award{
  background: #fafafa;
  &:hover{
    background: #ededed;
  }
  border-bottom: #bd402f 3px solid;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  display: block;
  float: left;
  min-height: 200px;
  min-width: 190px;
  padding-top: 22px;
  margin: 0 20px 20px 0;
  text-align: center;
  text-decoration: none;
}

