/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
.adv-popup{
  position: fixed;
  bottom: 0;
  right: 10%;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  opacity: 0.85;
  color: white;
  font-size: 21px;
  box-shadow: 0 0 5px black;
  font-family: MyriadProReg;
  text-align: center;
  &:after{
    content: ' ';
    width: 37px;
    height: 27px;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    -webkit-transform: rotate(45deg) skewX(15deg);
    -moz-transform: rotate(45deg) skewX(15deg);
    -ms-transform: rotate(45deg) skewX(15deg);   
    -o-transform: rotate(45deg) skewX(15deg);
    transform: rotate(45deg) skewX(15deg); 

    border-radius: 60%/30%;
    -webkit-border-radius: 60%/30%;
    -moz-border-radius: 60%/30%;    
    left: 10px;
    z-index: -1;
    text-align: center;
  }
  a{
    font-family: MyriadProIt;
    color: white !important;
    font-size: 17px;
  }
  b{
    font-family: MyriadProBold;
  }
  i{
    font-family: MyriadProIt;
  }
}
.close-btn{
  height: 14px;
  width: 14px;
  background: url(/assets/popup-close.png);
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
}

@font-face {
    font-family: MyriadProReg;
    src: url("/assets/MyriadPro-Regular.otf");
}
@font-face {
    font-family: MyriadProBold;
    src: url("/assets/MyriadPro-Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: MyriadProIt;
    src: url(/assets/MyriadPro-It.otf);
    font-style: italic, oblique;
}
@font-face {
    font-family: MyriadPro;
    src: url("/assets/MyriadPro-BoldIt.otf");
    font-weight: bold;
    font-style: italic, oblique;
}


html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
