#news {
  .container .twelve.columns {
    display: inline-block;
    float: none;
  }
  .two.columns.offset-by-two{
    float: right;
    padding-left: 0;
    width: 170px;
  }
  .news-header {
    margin-top: 15px;
  }

  h1 {
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-margin-before: 0px;
  }

  img {
    max-width: 690px;
  }

  .news-date {
    p {
      font-family: "Open Sans";
      font-size: 14px;
      color: balck;
      font-weight: bold;
      margin-bottom: 15px;
    }
    margin-top: 12px;
  }

  .hr-news-date {
    width: 118px;
  }

  .hr-news-header {
    border-width: 2px;
    width: 140px;
  }

  .news-content {
    margin-bottom: 45px;

    div, h1, h2, h3, h4, h5, h6 {
      font-family: "Open Sans";
      font-size: 15px;
      color: #444;
      font-weight: 300;
      line-height: 25px;
    }


  }

}

#news_list {
  .eight.columns{
    display: inline-block;
  }
  .four.columns{
    float: left;
  }
  .two.columns.offset-by-two{
    display: inline-block;
    float: right;
    width: 180px;
    padding-left: 0;
  }
  .news-list{
    display: inline-block;
    width: 730px;
  }
  .twelve.columns, .eight.columns{
    float: none;
  }
  .news-header {
    margin-top: 15px;
  }

  h1 {
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-margin-before: 0px;
  }

  h2 {
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 300;
    -webkit-margin-before: 0px;
    color: gray;
    a {
      outline: none;
      color: gray;
      text-decoration: none;
    }
  }

  p {
    a {
        color: #444;
        outline: none;
        text-decoration: none;
      }
  }

  .news-image {
    img {
      margin-top: 7px;
    }
  }

  .news-date {
    p {
      font-family: "Open Sans";
      font-size: 14px;
      color: balck;
      font-weight: bold;
      margin-bottom: 15px;
    }
    margin-top: 12px;
  }

  .hr-news-date {
    width: 118px;
  }

  .hr-news-header {
    border-width: 2px;
    width: 140px;
  }

  .news-content {
    margin-bottom: 45px;
    margin-left: 25px;

    div, h1, h3, h4, h5, h6 {
      font-family: "Open Sans";
      font-size: 15px;
      color: gray;
      font-weight: 400;
      line-height: 25px;
    }
  }

}

#news_menu {
  z-index: 2;
  top: 10px;

  .news-menu-header {
    font-family: "Open Sans";
    font-size: 18px;
    color: gray;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 5px;
  }

  .year-menu-link {
      font-family: "Open Sans";
      font-size: 17px;
      font-weight: 400;
      color: #fc0101;
  }

  .hr-news-menu {
    border: 1px solid lightgray;
    width: 160px;
  }

  .news-menu-ul {
    li {
      list-style-type: none;
      background-image: url('/assets/objects-li-bullet.png');
      background-repeat: no-repeat;
      background-position: 0 11px;
      margin-top: 20px;
      line-height: 18px;
      padding-left: 40px;
      &.active{
        background-image: url("/assets/objects-li-black-bullet.png");
        a{
          color: rgb(128, 128, 128);
          text-decoration: none;
        }
      }


      a {
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 400;
        color: #fc0101;
      }

    }
  }
}
.pagination{
  > span{
    font-weight: bold;
    font-size: 12pt;
  }

  .pages{
    display: inline;
    margin: 0 20px;
  }

  em.current{
    padding: 9px 14px;
    font-size: 12pt;
    background-color: rgb(215, 35, 9);
    color: white;
    font-style: normal;
    font-weight: bold;
  }
  a{
    text-decoration: none;
    padding: 9px 14px;
    font-size: 12pt;
  }
  a.previous_page{
    display:none;
  }
}
