.objects {

  padding-top: 30px;

  h1 {
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 300;
    line-height: 25px;
  }

  h2 {
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 300;

  }

  .four {
    h2 { text-transform: uppercase; font-size: 20px; line-height: 27px; }
  }

  h4 {
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 300;
    color: gray;
  }

  .add-some-space {
    margin-bottom: 20px;
  }

  .hr-objects-short {
    width: 140px;
    border-width: 2px;
  }

  p {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    line-height: 30px;
  }

  .desc-p {
    font-size: 16px;
    font-style: italic;
    color: rgb(65, 65, 87);
  }

  .project-address {
    background: #fafafa;
    padding: 18px 30px 1px 38px;
    width: 164px;

    p {
      color: #58585a;

      font-family: "Open Sans";
      font-size: 13px;
      line-height: 20px;
      font-weight: 300;
      font-style: italic;
    }

    a {
      color: #fc0101;

      padding: 5px 34px 5px 0;

      background: transparent url('/assets/link_to_map.png') no-repeat right center;
    }
  }

  .hr-objects-menu {
    width: 174px;
    border-width: 2px;
    border-color: #e4e4e4;
  }

  .objects-menu {
    li {
      list-style-type: none;
      background-image: url('/assets/objects-li-bullet.png');
      background-repeat: no-repeat;
      background-position: 0 11px;
      margin-top: 20px;
      line-height: 18px;
      padding-left: 40px;
      &.active{
        background-image: url("/assets/objects-li-black-bullet.png");
        a{
          color: rgb(128, 128, 128);
          text-decoration: none;
        }
      }


      a {
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 400;
        color: #fc0101;
      }
    }
  }

  .project-slide, .project-slide-zoom {
    width: 100%;
    height: 476px;
  }

  .project-slide-zoom {
    position: absolute;
    left: 0;
    top: 0;

    cursor: pointer;

    &:hover {
      background: transparent url('zoom.png') no-repeat center center;
    }
  }

  .dislocation-continued img {
    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: -20px;
  }

  .hr-object-description {
    width: 138px;
    border-width: 2px;
  }

  .obj-decr-h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }


  .description-section  {
    li {
      list-style-type: none;
      background-image: url('/assets/objects-li-bullet.png');
      background-repeat: no-repeat;
      background-position: 0 11px;
      margin-top: 20px;
      line-height: 25px;
      padding-left: 40px;
    }

  }

  .description-section img {
    margin-top: 40px;
  }

  .dislocation {
    margin-top: 70px;
  }

  .dislocation-h4 {
    margin-top: 70px;
    margin-bottom: 54px;
  }

  .dislocation-p {
    margin-top: 43px;
  }

  .projects-slider {
    margin-top: 40px;
    position: relative;
  }



}

.breadcrubms {
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  font-style: italic;



  a {
    text-decoration: none;
  }

  a, a:visited {
    color: gray;
  }

  ul {

    margin-top: 20px;
    margin-left: 10px;


    list-style: none;
    li {
      float: left;
    }
    li:last a {
      color: orange;
    }
  }


}



.hr-breadcrubms {
  border-width: 2px;
  margin-top: 20px;
}
