.tooltip{
  background: transparent url('slider-tooltip.png') no-repeat center bottom;

  color: #000000;

  padding-bottom: 8px;

  position: absolute;
  width: 150px;
  top: -70px;
  left: -73px;

  text-align: center;

  div {
    background: #ffffff;

    padding: 16px;

    white-space: nowrap;
  }
}


.progress-menu {
  margin: 30px 0 0 0;
  padding: 0;

  float: right;
  height: 48px;

  li {
    float: left;
    margin-left: 56px;
    height: 30px;

    padding-left: 42px;
    padding-top: 4px;

    &.live {
      background: transparent url('progress-icons.png') no-repeat left top;
    }

    &.slides {
      background: transparent url('progress-icons.png') no-repeat left -34px;
    }
  }

  a, span {
    font-size: 16px;
    padding-bottom: 22px;
  }

  span {
    border-bottom: 4px solid #fc0101;
    font-weight: bold;
  }

  a {
    text-decoration: none;

    &:hover { text-decoration: underline }
  }
}

.project-layout-price{
  clear: both;
  span{
    font-size: 18px;
    line-height: normal;
    &.currency{
      font-size: 22px;
      margin-left: 5px;
      font-weight: bold;
    }
  }
}
.message-hider{
  height: 150px;
  position: absolute;
  background: #fff;
  z-index: 200;
  top: 567px;
  width: 100%;
}
.backstretch-container{
  height: 720px;
}
.ajax-loader{
  position: absolute;
  top: 40%;
  left: 50%;
}
