#floor{
  height: 530px;
  overflow: scroll;
  box-shadow: inset 0 0 10px black;
  padding: 30px 0;
  background: image-url('ajax-loader.gif') no-repeat center;
  overflow-y: hidden;
}

#floor_thumbs{
  margin: 20px auto;
  cursor: default;
  width: 600px;
  overflow: hidden;
}

.additional_floors{
  position: absolute;
  top: 40%;
  left: -150px;
  .radio{
    display: block;
  }
}
#form_buy{
  .project-layout-price{
    display: none
  }
  .description-section{
    .eleven.columns, .project-layout-photo{
      width: 450px;
      min-height: initial;
    }
  }
  .project-layouts{
    li{
      width: 112.5px;
    }
  }
  .project-layout-description{
    position: absolute;
    h2{
      margin-top: 10px;
    }
  }
  .five.columns{
    width: initial;
  }
  .hr-orange{
    width: 280px;
  }
}

.red.radio{
  display: block;
  margin: 0 0 0 20px;
  input[type=radio]:checked + label:before {
    color: #d7240a;
  }
  label{
    &:before{
      background-color: #F7F7F7;
    }
  }
}

.radio{
  margin: 0 0 0 5px;
  display: inline-block;
  input[type=radio]{
    margin: 0 !important;
    display: none;
    &:checked + label:before {
      content: "\2022";
      color: #797979;
      font-size: 37px;
      text-align: center;
      line-height: 13px;
    }
  }
  label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    color: #444444 !important;
    &:before{
      margin: 4px 0px;
      border-radius: 8px;
      content: "";
      display: inline-block;
      width: 13px;
      height: 13px;
      position: absolute;
      left: 0;
      bottombottom: 1px;
      background-color: #FCFCFC;
      box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    }
  }
}
@-moz-document url-prefix() {
  .radio input[type=radio]:checked + label:before{
    font-size: 33px;
  }
}

.styled-select{
  border: 1px solid #B7B7B7;
  overflow: hidden;
  background: #ece7d3 url("/assets/selector.png") no-repeat 96% 50%;
  width: 440px;
  select{
    -webkit-appearance: none;
    -moz-appearance: window;
    -o-appearance: none;
    appearance: none;
    width: 120% !important;
    overflow: hidden;
    cursor: pointer;
    margin: 0 !important;
    background: transparent;
    padding: 15px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    &:-moz-focusring{
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }
}

noindex:-o-prefocus, .styled-select:after{
  background: #ece7d3;
  content: "";
  height: 50px;
  left: 433px;
  margin-top: -50px;
  position: absolute;
  width: 18px;
}


.bg-gray{
  background-color: #F2F2F2;
  .columns{
    padding: 20px 0;
    width: 960px;
    margin: 0 auto;
    .content{
      padding: 0 10px;
    }
  }
}
.popup-wrapper{
  position: absolute;
  left: 740px;
}
.popup{
  span{
    padding-left: 6px;
  }
  display: inline-block;
  background-color: #fc0101;
  border-radius: 15px;
  width: 20px;
  color: #fff;
  height: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid #fc0101;
  float: left;
  margin: 6px;
  .popup-content{
    display: none;
    color: #000;
    background-color: #fff;
    z-index: 2000;
    position: absolute;
    border: 1px solid #fc0101;
    border-radius: 0 0 5px 5px;
    border-width: 0 1px 1px 1px;
    padding: 0 10px;
    width: 240px;
    text-align: left;
    margin: 0 10px;
    overflow: hidden;
    p{
      font-size: 10pt;
      font-weight: normal;
      line-height: 15pt;
      margin-bottom: 5px;
    }
  }
}
.prices{
  h3{
    display: inline-block;
    font-size: 26px;
    line-height: normal;
    font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #58585a;
    float: left;
  }
}
.icon-project-info, .icon-project-layout, .icon-project-progress, .icon-project-live, .icon-project-buy {
  &:hover {
    background: transparent url('project-icons.png') no-repeat left top;
  }

  background: transparent url('project-icons.png') no-repeat left -97px;

  width: 56px;
  height: 56px;

  display: inline-block;

  margin-right: 18px;
}

.icon-project-layout { background-position: -127px -97px; &:hover { background-position: -127px top; } }
.icon-project-progress { background-position: -255px -97px; &:hover { background-position: -255px top; } }
.icon-project-live { background-position: -382px -97px; &:hover { background-position: -382px top; } }
.icon-project-buy { background-position: -509px -97px; &:hover { background-position: -509px top; } }



.project-areas {
  margin-right: -100px;
  margin-bottom: 100px;

  .project-area {
    border-bottom: 3px #d9d9da solid;

    height: 320px;
    width: 310px;
    float: left;

    position: relative;

    .project-area-name {
      display: block;

      font-family: 'Open Sans';
      color: #58585a;

      font-size: 28px;

      text-transform: uppercase;
    }

    .project-area-amount {
      position: absolute;
      width: 100%;
      bottom: 10px;

      b {
        font-weight: bold;
        color: #000000;
      }
    }

    a {
      -webkit-transition: background 0.5s ease;
      -moz-transition: background 0.5s ease;
      -o-transition: background 0.5s ease;
      transition: background 0.5s ease;

      &:hover, &.selected {
        background: #ededed;

        border-bottom: #bd402f 3px solid;

        .project-area-name {
          color: #000000;
        }
      }

      display: block;
      float: left;

      height: 298px;
      width: 300px;

      padding-top: 22px;

      margin-right: 20px;


      text-align: center;
      text-decoration: none;

      img {
        margin-top: 20px !important;
      }
    }

    &.last {
      width: 300px;
      a {
        margin-right: 0px;
      }
    }
  }
}

.objects ul.project-layouts {
  margin: 0;
  padding: 0;

  li {
    &.selected {
      background: #d7240a;

      a {
        color: #ffffff;
      }
    }

    a {
      text-decoration: none;
    }

    background: transparent;

    float: left;
    width: 140px;

    margin: 0;
    padding: 18px 0;

    list-style: none;

    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: bold;

    text-align: center;
  }
}

.objects img.project-layout-photo {
  min-height: 560px;
  margin: 0 0 24px 0;
  cursor: pointer;
}

.objects ul.project-layout-photos {
  height: 68px;
  margin-bottom: 120px;

  li {
    &.selected {
      span {
        border: 3px #fc0101 solid;
        width: 95px;
        height: 62px;
      }
    }

    span {
      position: absolute;
      left: 0; top: 0;
      display: block;
      width: 95px;
      height: 62px;
    }

    cursor: pointer;
    position: relative;

    margin: 0 14px 0 0;
    padding: 0;

    background: transparent;

    float: left;
    width: 101px;
    height: 68px;

    a { outline: none; }

    img {
      width: 101px;
      height: 68px;

      margin: 0;
    }
  }
}

.project-layout-description {
  color: #58585a;

  .hr-silver {
    border: none;
    border-bottom: 3px solid #ededed;

    width: 280px;
  }

  ul {
    li {
      margin-top: 10px !important;
    }
  }

  .project-layout-amount {
    font-size: 17px;
    font-family: 'Open Sans';
    font-style: italic;
    b {
      color: #000000;
      font-size: 26px;
      font-style: normal;
      display: block;
      margin: 20px 0 38px 0;
    }
  }

  h2 {
    text-transform: uppercase;
    margin-top: 80px;
  }

  a.buy-link.button, a.buy-link.button:hover {
    background: #d7240a;

    font-size: 24px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;

    color: #fbeae7;
    text-transform: uppercase;
    text-shadow: none;
    text-align: center;

    border: none;

    width: 280px;
  }
}

.projects {
  .hr-orange {
    border: none;
    border-bottom: 3px solid #fc0101;

    width: 180px;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-style: italic;

    line-height: 30px;

    color: #58585a;
  }

  label {
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    margin-bottom: 20px;

    input, select {
      margin-top: 8px;
    }
  }

  input[type='text'] {
    width: 430px;
    background: #ece7d3;
    font-size: 16px;
    padding: 15px 4px;
  }

  input[type='submit'] {
    background: #d7240a;

    font-size: 24px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;

    color: #fbeae7;
    text-transform: uppercase;
    text-shadow: none;
    text-align: center;

    border: none;

    width: 440px;
  }

  label.radios {
    margin-bottom: 20px;
  }

  label.radio {
    font-size: 16px;
    color: #58585a;
  }

  input[type='radio'] {
    margin-left: 34px;
  }
}

.object-icons {
  width: 710px;
  li {
    display: block;
    float: left;

    width: 112px;
    height: 14px;

    margin: 0 64px 76px 0;
    padding-top: 135px;

    color: #58585a;
    font-size: 16px;
    text-align: center;

    background: transparent url("object-icons.png") no-repeat left top;

    &.object-icons-object2 { background-position: -112px 0; }
    &.object-icons-object3 { background-position: -224px 0; }
    &.object-icons-object4 { background-position: -336px 0; }
    &.object-icons-object5 { background-position: -449px 0; }
    &.object-icons-object6 { background-position: -562px 0; }
    &.object-icons-object7 { background-position: -675px 0; }
  }
}

.desc-p{
  ul{
    padding: 0 0 0 40px;
    list-style: circle;
    li{
      padding: 5px 0;
    }
  }p{
    color: #414157;
    font-size: 16px;
  }
}
.projects-slider{
  .slide-arrows{
    position: relative;
    z-index: 1000;
    &.mobile{
      display:none;
    }
    a{
      .tooltip{
        top: -40px;
        white-space: nowrap;
        position: relative;
        display: none
      }
      &:hover .tooltip{
        display: block;
      }
      text-decoration: none;
      cursor: pointer;
      margin: 330px 60px;
    }
    .right-arrow{
      .tooltip{
        left: -65px;
      }
      float: right;
      height: 62px;
      width: 35px;
      background: url(/assets/right-arrow.png);
      &.disabled{
        background: url(/assets/gright-arrow.png);
      }
    }
    .left-arrow{
      .tooltip{
        left: -50px;
      }
      float: left;
      height: 62px;
      width: 35px;
      background: url(/assets/left-arrow.png);
      &.disabled{
        background: url(/assets/gleft-arrow.png);
      }
    }
  }
}
.project-areas{
  .areas{
    height: 323px;
    overflow:hidden;
    &.mobile{
      display:none;
    }
  }
  .arrows{
    &.mobile{
      display:none;
    }
    a{
      cursor: pointer;
    }
    .right-arrow{
      float: right;
      margin: 120px 30px;
      height: 62px;
      width: 35px;
      background: url(/assets/right-arrow.png);
      &:hover, &.disabled{
        background: url(/assets/gright-arrow.png);
      }
    }
    .left-arrow{
      float: left;
      margin: 120px -70px;
      height: 62px;
      width: 35px;
      background: url(/assets/left-arrow.png);
      &:hover, &.disabled{
        background: url(/assets/gleft-arrow.png);
      }
    }
  }
}
.project-areas:has(.selected){
  background: url(/assets/gleft-arrow.png);
}
.project-areas:not(.pagination a:last.selected) .arrows .right-arrow{
  background: url(/assets/gright-arrow.png);
}
.project-areas .pagination{
  text-align: center;
  margin: 25px 0;
  width: 94%;
  a{
    &.selected{
      background-position: -2px;
      cursor: default;
    }
    padding: 9px;
    background: url(/assets/slider_bullets.png) no-repeat transparent;
    width: 15px;
    background-position: -20px;
    height: 15px;
    margin: 0 5px 0 0;
    span {
      display: none;
    }
  }
}

.dates-list ul{
  margin-left: -40px;
  width: 1100px;
}
.dates-list li{
  float: left;
  font-size: 10pt;
  width: 79px;
  text-align: center;
}
.objects .projects-slider {
  margin-top: 0;
}

.project-slide .container {
  height: 150px;
  margin: 35px auto;
}

.slide-container {
  position: absolute;
  bottom: 75px;
  width: 100%;
  height: 35px;
  padding-top: 18px;
  background: transparent url('/assets/slider-lines.png') repeat-x left top;
}

#slider {
  border: none;

  background: #d4d4d4;
  background: -moz-linear-gradient(top,  #d4d4d4 0%, #fefefe 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4d4d4), color-stop(100%,#fefefe));
  background: -webkit-linear-gradient(top,  #d4d4d4 0%,#fefefe 100%);
  background: -o-linear-gradient(top,  #d4d4d4 0%,#fefefe 100%);
  background: -ms-linear-gradient(top,  #d4d4d4 0%,#fefefe 100%);
  background: linear-gradient(to bottom,  #d4d4d4 0%,#fefefe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#fefefe',GradientType=0 );

}

.ui-slider-range {
  background: #fc0101;
  background: -moz-linear-gradient(top,  #fc0101 0%, #c20101 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc0101), color-stop(100%,#c20101));
  background: -webkit-linear-gradient(top,  #fc0101 0%,#c20101 100%);
  background: -o-linear-gradient(top,  #fc0101 0%,#c20101 100%);
  background: -ms-linear-gradient(top,  #fc0101 0%,#c20101 100%);
  background: linear-gradient(to bottom,  #fc0101 0%,#c20101 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc0101', endColorstr='#c20101',GradientType=0 );
}

.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  margin-left: -3px;
  border-radius: 0;
  background: #ffffff url('/assets/slider.png') no-repeat center center;
}

.ui-slider-horizontal {
  height: 18px;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 6px;
  height: 26px;
  cursor: default;
}

.active-thumb {
  border: 2px solid #fc0101;
}

.progress {
  .slider-thumbs {
    margin-top: 10px;
    display: none;
  }
  .backstretch{
    height: auto !important;
    width: 960px !important;
    position: static !important;
    margin: 0 auto !important;
  }
  .backstretch img{
    height: 720px !important;
    width: 960px !important;
    position: static !important;
  }
}
.slider-thumbs img {
  width: 107px;
  height: 67px;
  margin: 7px;
}

.active-thumb img {
  border: 2px solid orange;
  margin: 5px;
}

#tooltip{
  display: inline !important;
}
