//= require tablet
/* Main page */



/* white magic */

body:-moz-last-node header{margin:0 0 0 0;}

/* black magic */

header {
  /*background: url(header-clear.png) center center no-repeat;*/
  /*background: url(tigr.jpg) center center no-repeat;*/
  /*
  background-image: url(http://dummyimage.com/1920x1200/e6e69c/fff.png);
  background-image: url(http://dummyimage.com/1920x845/e6e69c/fff.png);
  min-height: 845px;
   */
height: 845px;

/*background-attachment: fixed;*/
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.head-section  {
  position: relative;
  .sky {
    position: absolute;

    left: -30px;
    top: 0;

    bottom: -20px;
    right: -48px;

    background: #ffffff;
    opacity: 0.7;

    z-index: -100;
  }
}

p {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 24px;
}

.press-section {
  min-height: 353px;
  background-color: #ffffff;
  a{
    text-decoration: none;
  }
  h5{
    font-size: 20px;
    line-height: 30px;
    color: rgb(112,112,112);
    font-family: 'Open Sans';
    padding-bottom: 30px;
    vertical-align: bottom;
    display: table-cell;
  }
  .news-date{
    display: table-cell;

  }
}

.press-container {
  margin-top: 44px;
}

.map-section {
  margin-top: 20px;
  height: 358px;
}

#projects-link-btn {
  position: relative;
  top: 1px;
  left: 50%;
  margin-left: -140px;
  outline: none;
  z-index: 2;
}

#yamap {
  height: 358px;
  margin-top: -64px;
}

.stoit-spinoi {
  position: relative;
  top: -297px;
  left: 50%;
  margin-left: -530px;
  z-index: 2;
}

.partners-section {
  min-height: 615px;
}

.partners-shift {
  margin-top: 70px;
}

.main-principle {
  margin-top: 38px;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  margin-right: 130px;
}

.guys img {
  position: relative;
  left: -80px;
  top: 80px;
}

.hr-news {
  width: 115px;
  margin: 20px 0 15px;
}

.hr-orange {
  border: 1px solid #fc0101;
}

.hr-press {
  margin-top: 20px;
  width: 180px;
}

.hr-parners-solid {
  border: 2px solid #fc0101;
  width: 140px;
  margin-top: 24px;
}

.hr-our-partners {
  width: 233px;
  margin-top: 20px;
}

.news-text {
  margin-top: -10px;
  padding-right: 30px;
}

.our-parnters {
  margin-top: 54px;
}

#partner_2 {
  margin-left: 40px;
}

#partner_3 {
  position: relative;
  top: -7px;
  left: 40px;
}

#partner_4 {
  position: relative;
  top: -5px;
  left: 30px;
}

#partner_5 {
  position: relative;
  top: 0px;
  left: 10px;
}



h2 {
  font-family: "Open Sans";
  font-size: 2em;
  font-weight: 300;

  a {
    &:hover { text-decoration: underline }
    text-decoration: none;
  }
}


.pull-left {
  float: left;
}



.logo-td {
}

.press-section a img {
  position: relative;
  top: 1px;
  left: 4px;
}

.ml-copyright p {
}

.footer-copyright {
}



/* RAZOBRAT' */




.menu-section {
  /*margin-top: 25px;*/
}

.menu {
  background-color: white;
  height: 52px;
  width: 1038px;
  margin-left: -40px;
}

nav.menu ul {
  list-style: none;
}

nav.menu ul li {
  float: left;
  width: 25%;
  margin-bottom: 0;
  height: 52px;
}

nav.menu ul li:hover {
  background-color: #d7240a;
}

nav.menu ul li:hover a {
  border-right: none;
  color: #ffffff;
}

nav.menu ul li a {
  float: left;
  font-family: "Open Sans";
  width: 100%;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  margin-top: 9px;
  padding-top: 7px;
  padding-bottom: 5px;
  border-right: 1px solid #b4b4b4;
}

nav.menu ul li .last {
  border-right: none;
}

.red-box {
  background-color: rgba(211, 25, 0, 0.89);
  width: 1020px;
  height: 185px;
  margin-left: -30px;
  margin-top: 435px;

}
.red-box-slide {
  padding: 20px 50px;
}
.romanov_text {
  float: left;
  padding: 15px 0;
  width: 360px;
}

a.club-house {
  display: block;
  color: white;
  font-family: "Open Sans";
  font-size: 32px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
}

.club-house-link {
  color: black;
  font-family: "Open Sans";
  font-size: 26px;
  line-height: 40px;
}

.club-house-link a {
  text-decoration: none;
  color: #000000;
}

.club-house-link a:visited {
  color: #000000;
}

.club-house-link img {
  padding-left: 5px;
}

.romanov {
  margin-left: -16px;
}

.sing_pix {
  float: left;
  border-left: 1px solid #bd2e1a;
  height: 146px;
  padding: 0 15px;
  a {
    display: block;

    width: 160px;

    padding-top: 120px;

    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    text-align: center;

    background: transparent url('red-box.png') no-repeat 30px -115px;
  }
}

.buy a {
  &:hover {
    background-position: 30px 20px;
  }
}

.speed a {
  background-position: -120px -115px;

  &:hover {
    background-position: -120px 20px;
  }
}

.plan a {
  background-position: -270px -115px;

  &:hover {
    background-position: -270px 20px;
  }
}

.plan {
  padding-right: 0;
}

