$width: 90%;
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  .description-section{
    img{
      width: 100%;
    }
  }
  div.infobox {
    width: 80%;
  }
  #news_menu{
    right: 10px;
  }
  #news_list .news-content {
    margin-left: 50px;
  }
  .objects h1 {
    line-height: 36px;
  }
  .objects .project-slide, .objects .project-slide-zoom {
    overflow: hidden;
  }
  .backstretch{
    width: 100% !important;
  }
  div.slider-thumbs{
    width: 100%;
  }
  .objects .project-address {
    float: right;
  }
  .press-container .three.columns.offset-by-thirteen{
    float:right;
  }
  #partner_1{
    width: 98.7%;
    img{
      width: 100%;
    }
  }
  .guys img {
    left: 0px;
    float: right;
  }
  .social-links{
    margin-right: 40px;
    float: right;
  }
  a.logo{
    margin-left: 25px;
  }
  .slogan{
    margin-left: 1em;
  }
  .phone{
    margin-left: 1em;
    margin-bottom: 0;
  }
  .head-section{
    .center960{
      width: 100%;
    }
    .sky{
      width: $width;
      margin: 0 auto;
      left:-48px;
    }
  }
  .menu{
    width: $width;
    margin: 0 auto;
  }
  .red-box {
    width: $width;
    margin: 435px auto;
  }
  .red-container{
    .left-arrow{
      position: absolute;
      top: 490px;
      left: 0;
    }
    .right-arrow {
      position: absolute;
      right: 0;
      top: 490px;
    }
    .center960{
      margin: 0;
      width: 100%;
      height: 435px;
    }
    .sing_pix{
      margin:3% 0;
      width:17%;
      a{
        width:100%;
      }
    }
    .buy a {
      background-position: 13px -115px;
      &:hover{
        background-position: 13px 20px;
      }
    }
    .speed a {
      background-position: -145px -115px;
      &:hover{
        background-position: -145px 20px;
      }
    }
    .plan a {
      background-position: -280px -115px;
      &:hover{
        background-position: -280px 20px;
      }
    }
  }
  .menu-section{
    .columns.center960{
      margin: 0 auto;
      width: 100%;
    }
  }
  .head-section{
    .columns.center960{
      margin: 0 auto;
    }
  }
  .columns.center960{
    margin: 0;
  }
  .romanov_text{
    width: 30%;
  }
  a.club-house{
    font-size: 12pt;
    font-weight: 600;
    line-height: 18pt;
    margin: 50px 0 20px 20px;
    text-indent: 0;
  }
  .club-house-link{
    margin-left: 20px;
    font-size: 12pt;
  }
  .head-class{
    margin: 15px 30px;
  }
  .project-info{
    .project-h2{
      font-size: 30px;
    }
    .project-h3{
      font-size: 20px;
    }
    .project-address {
      font-size: 15px;
    }
  }

  .project-areas{
    .arrows{
      &.mobile{
        display:block;
      }
      .right-arrow{
        position: absolute;
        margin: 120px 0;
        right: 10px;
      }
      .left-arrow{
        margin: 120px 0;
      }
    }
    .areas{
      &.desktop{
        display:none;
      }
      &.mobile{
        width: 45.6em;
        margin: 0 auto;
        display:block;
      }
      margin-left: 5em;
    }
    width:100%;
  }
  #layout_description .buy-link.button{
    width:100%;
  }
  .pagination {
    width: 100%;
  }
  .project-areas .project-area a img {
    width: 70%;
  }
}
