= form_for(resource, url: resource.new_record? ? collection_url : resource_url(resource),
                     html: { method: (resource.new_record? ? "post" : "put") ,
                             class: "formatted form-horizontal"}) do |f|
  - if resource.errors.any?
    .alert
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %strong Внимание!
      %br
      = raw resource.errors.full_messages.join("<br>")

  .control-group
    = f.label :name, "Тип планировки", class: "control-label"
    .controls
      %div
        = f.text_field :name
        %p.help-block Для разделения текста на строки используйте "\n"

  .control-group
    = f.label :title, "Полное название", class: "control-label"
    .controls
      %div
        = f.text_field :title
  .control-group
    = f.label :amount, "Количество квартир", class: "control-label"
    .controls
      %div
        = f.number_field :amount
  .control-group
    = f.label :content, "Описание", class: "control-label"
    .controls
      %div
        = f.text_area :content, :"data-rich-text" => "true", rows: 6, style:"height:auto;"
  - if @layout.new_record?
    %h3{style: "margin: 30px 100px;"} Цену можно добавить только после создания планировки
  - else
    %h3{style: "margin: 0 100px;"} Цены
    #queues
      = f.fields_for :queues do |queue_fields|
        = render "queue", form: queue_fields
    .control-group
      .controls
        = link_to "Добавить очередь", add_queue_comfy_project_area_layout_path, class: "btn", remote: true, method: :post

  .control-group
    - if resource.new_record?
      - resource.photos.build
    = f.fields_for :photos do |builder|
      - unless builder.object.new_record?
        = builder.label "Фотографии", class: "control-label"
        %div{style:"margin-left: 170px;"}
          = image_tag builder.object.file.url(:admin), class: "img-polaroid"
          = builder.file_field :file
          = builder.check_box '_destroy'
          Удалить?
    = f.label "Добавить фотографии", class: "control-label"
    %div{style:"margin-left: 170px;"}
      .fileupload.fileupload-new{"data-provides" => "fileupload"}
        %span.btn.btn-file
          %span.fileupload-new Загрузить изображения
          %span.fileupload-exists Изменить
          = f.file_field :photo_files, multiple: true
        %span.fileupload-preview
        %a.close.fileupload-exists{"data-dismiss" => "fileupload", :href => "#", :style => "float: none"} ×
      %p.help-block Выделите одно или несколько изображений

  .form-actions
    = f.submit 'Сохранить', class: 'btn'
