.control-group
  - unless form.object.new_record?
    = form.label :price, "#{form.object.position} очередь", class: "control-label"
  .controls
    %div.span3.input-append{style:"margin:0"}
      = form.number_field :price
      %span.add-on{style: "height:34px"} руб.
      - unless form.object.new_record?
        = form.check_box '_destroy', style: "margin: 0 30px;"
        = label_tag "", "Удалить?",style: "display: inline-block"
