$("#queues").append("<%= j raw(%Q(
    <div class="control-group">
                <div class="controls">
                  <div class="span3 input-append" style="margin:0">
                    <input name="project_layout[queues_attributes][_#{Time.now.to_i}][price]" type="number" value="0">
                    <span class="add-on" style="height:34px">руб.</span>
                  </div>
                </div>
                </div>
)) %>")
