.page-header
  = link_to 'Добавить', new_resource_path, class: 'btn btn-primary pull-right'
  %h2
    Квартиры проекта:
    = @project.title

%table.table.table-striped.table-bordered
  %thead
    %th{style: "text-align:center;"} Тип планировки
    %th
  %tbody
    - collection.each do |resource|
      %tr
        %td{style: "text-align:center;"}= resource.name
        %td{style: "text-align:center;"}
          .btn-group
            = link_to edit_resource_path(resource), class: "btn btn-small", title: "Редактировать" do
              %i.icon-large.icon-edit
            = link_to resource_path(resource), class: "btn btn-small btn-danger", :method => :delete, :data => { :confirm => 'Вы уверены?' }, title: "Удалить" do
              %i.icon-large.icon-trash

