= form_for @comfy_news, html: {class: "formatted form-horizontal"} do |f|
  - if @comfy_news.errors.any?
    .alert
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %strong Внимание!
      %br
      = raw @comfy_news.errors.full_messages.join("<br>")

  .control-group
    = f.label :header, "Заголовок", class: "control-label"
    .controls
      %div
        = f.text_field :header
        %p.help-block Для разделения текста на строки используйте "\n"

  .control-group
    = f.label :logo, "Логотип", class: "control-label"
    .controls
      %div
        .fileupload.fileupload-new{"data-provides" => "fileupload"}
          %span.btn.btn-file
            %span.fileupload-new Загрузить изображение
            %span.fileupload-exists Изменить изображение
            = f.file_field :logo
          %span.fileupload-preview
          %a.close.fileupload-exists{"data-dismiss" => "fileupload", :href => "#", :style => "float: none"} ×

  .control-group
    = f.label :logo, "Дата", class: "control-label"
    .controls
      %div.span2.input-append{style: "margin:0"}
        = f.text_field :date, class: "datepicker"
        %span.add-on{style:"height: 34px;margin-top:1px;"}
          %i.icon-calendar
  :javascript
    $('.datepicker').datetimepicker({format: 'yyyy-mm-dd',minView: 'month'});


  .control-group
    = f.label :short_description, "Краткое описание", class: "control-label"
    .controls
      %div
        = f.text_area :short_description, rows: 3, style:"height:auto;"

  .control-group
    = f.label :description, "Описание", class: "control-label"
    .controls
      %div
        = f.text_area :description, :"data-rich-text" => "true", rows: 6, style:"height:auto;"

  .control-group
    = f.label :is_published, "Опубликовать?", class: "control-label"
    .controls
      %div
        = f.check_box :is_published

  .form-actions
    = f.submit 'Сохранить', class: 'btn'
