.page-header
  = link_to 'Создать новость', new_comfy_news_path, :class => 'btn btn-primary pull-right'
  %h2 Список новостей
  = form_for :configuration, url: comfy_set_configuration_path, html: {class: "formatted form-horizontal"}, method: :put do |f|
    .control-group
      = f.label :name, "Колличество новостей на странице", class: "control-label", style: "width: 225px;"
      .controls
        .span1
          = f.text_field :news_per_page, value: Configuration[:news_per_page]

%table.table.table-striped.table-bordered
  %thead
    %th Заголовок
    %th{style:"text-align: center;"} Дата
    %th{style:"text-align: center;"} Опубликована?
    %th
  %tbody
    - @comfy_news.each do |comfy_news|
      %tr
        %td= truncate comfy_news.header.gsub("\\n",""), length: 52
        %td{style:"text-align: center;"}= comfy_news.date
        %td{style:"text-align: center;"}
          - if comfy_news.is_published
            %span.label.label-success{style:"padding: 5px;"}
              %i.icon-ok
          - else
            %span.label.label-important{style:"padding: 5px;"}
              %i.icon-remove
        %td{style:"text-align: center;"}
          .btn-group
            = link_to comfy_news, class: "btn btn-small", title: "Показать" do
              %i.icon-large.icon-eye-open
            = link_to edit_comfy_news_path(comfy_news), class: "btn btn-small", title: "Редактировать" do
              %i.icon-large.icon-edit
            = link_to comfy_news, class: "btn btn-small btn-danger", :method => :delete, :data => { :confirm => 'Вы уверены?' }, title: "Удалить" do
              %i.icon-large.icon-trash
