.page-header
  %h2= raw @comfy_news.header.gsub("\\n","<br>")
.well.well-large
  %label
    %b Дата:
  %p= @comfy_news.date
  %hr
  %label
    %b Лого:
  = image_tag @comfy_news.logo.url(:thumb)
  %hr
  %label
    %b Краткое Описание:
  %p= @comfy_news.short_description
  %hr
  %label
    %b Описание:
  %p= raw @comfy_news.description
  - if @comfy_news.is_published
    %p.label.label-success
      %i.icon-ok
      Опубликована
  - else
    %p.label.label-important
      %i.icon-remove
      Не опубликована

= link_to 'Редактировать', edit_comfy_news_path(@comfy_news)
\|
= link_to 'Вернуться назад', comfy_news_index_path
