- form_url = @main_page_slide.new_record? ? comfy_main_page_slides_path : comfy_main_page_slide_path(@main_page_slide)
- submit_text = @main_page_slide.new_record? ? "Создать" : "Изменить"
%li{id: @main_page_slide.new_record? ? "new-slide" : "edit-slide"}
  = form_for @main_page_slide, url: form_url, multipart: true , html:{onsubmit:"return $.formValid();"}do |f|
    .item
      .remove{onclick: "$.toogleSlideForms();"}
        %i.icon-remove
      .btn-group{style:"margin-top: -10px;"}
        = f.submit submit_text, class: "btn btn-small"
      .item-content{style:"margin-top: -10px;"}
        .item-title
          = f.hidden_field :project_id
          .fileupload.fileupload-new{"data-provides" => "fileupload"}
            %span.btn.btn-file
              %span.fileupload-new Загрузить изображение
              %span.fileupload-exists Изменить изображение
              = f.file_field :slide_image
            %span.fileupload-preview
            %a.close.fileupload-exists{"data-dismiss" => "fileupload", :href => "#", :style => "float: none"} ×
