.page-header
  %h2 Список Слайдов
  = form_for :configuration, url: comfy_set_configuration_path, html: {class: "formatted form-horizontal"}, method: :put do |f|
    .control-group
      = f.label :name, "Интервал демонстрации слайда", class: "control-label", style: "width: 225px;"
      .controls
        .span1.input-append
          = f.text_field :slides_time, value: Configuration[:slides_time]
          %span.add-on{style: "height:34px"} сек.


- if @projects.present?
  %ul.list#root-sort
    - @projects.each do |project|
      %li{id: dom_id(project)}
        .item
          .icon.published
            .dragger.root
              %span ⇅
          .btn-group
            = link_to "Добавить слайд", new_comfy_main_page_slide_path(project_id: project.id), class: "btn btn-small", remote: true
          .item-content
            .item-title
              %a.item-label{:href => comfy_project_path(project)}= project.title
        %ul.children.jsortable{style: "min-height: 20px;"}
          - project.main_page_slides.each do |slide|
            %li{id: dom_id(slide)}
              .item
                .icon.published
                  .dragger
                    %span ⇅
                .btn-group{style:"margin-top: 15px;"}
                  = link_to "Редактировать", edit_comfy_main_page_slide_path(slide), class: "btn btn-small", remote: true
                  = link_to "Удалить", comfy_main_page_slide_path(slide), class: "btn btn-small btn-danger", remote: true, confirm: "Вы уверены?", method: :delete
                .item-content
                  .item-title
                    %a{:'data-toggle' => "lightbox", href: "##{dom_id(slide)}_box"}
                      = image_tag slide.slide_image.url(:admin), class: "img-polaroid"
                    .lightbox.hide.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", id: "#{dom_id(slide)}_box"}
                      .lightbox-content
                        %img{src: slide.slide_image.url}
- else
  .alert.fade.in
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %strong Holy guacamole!
    Чтобы создать слайд на главной странице нужен хотябы один проект!
    = link_to "Создать проект", new_comfy_project_path


:javascript
  $("#root-sort").sortable({
    axis: "y",
    handle: ".dragger.root",
    revert: true,
    update: function( event, ui ) {
      $.ajax({
        type: "PUT",
        url: "#{projects_sort_comfy_main_page_slides_path}",
        data: $("#root-sort").sortable('serialize')
      })
    }

  });
- @projects.each do |project|
  :javascript
    $("##{dom_id project} .children.jsortable").sortable({
      axis: "y",
      handle: ".dragger",
      revert: true,
      connectWith: '.jsortable',
      update: function( event, ui ) {
        $.ajax({
          type: "PUT",
          url: "#{sort_comfy_main_page_slides_path}",
          data: "project_id=#{project.id}&" + $("##{dom_id project} .children.jsortable").sortable('serialize')
        })
      }
    });
