<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
      <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
        <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
          <title><%= page_title || cms_page_content(:meta_title) %></title>
          <meta name="description" content="<%= cms_page_content(:meta_description) %>">
          <meta name="keywords" content="<%= cms_page_content(:meta_keywords) %>">

          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

          <%= stylesheet_link_tag "application", :media => "all" %>
          <%= javascript_include_tag "site/application" %>

          <%= csrf_meta_tags %>

          <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
          <link rel="icon" href="/favicon.ico" type="image/x-icon">

          <script src="http://api-maps.yandex.ru/2.0/?load=package.standard&mode=release&lang=ru-RU" type="text/javascript"></script>
          <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=cyrillic-ext,latin,cyrillic' rel='stylesheet' type='text/css'>
          <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js" type="text/javascript"></script>
        </head>
        <body>
          <script type="text/javascript">
            $(document).ready(function() {
                var active_class = '.' + '<%= active_menu_class %>';
                $('.active-menu').removeClass('active-menu');
                $(active_class).addClass('active-menu');
                $('li.active-menu').prev().find('a').css('border-right', 'none');
                });
              </script>


              <header>
                <section class="head-section">
                  <div class="container">
                    <div class="columns center960">
                      <%= render 'shared/header_section' %>
                    </div>
                  </div>
                </section>

                <section class="menu-section">
                  <div class="container">
                    <div class="columns center960">
                      <%= render "shared/menu" %>
                    </div>
                  </div>
                </section>

                <style>
                  .center960 {
                    margin: auto;
                    width: 960px;
                  }
                </style>


                <!--
                <section class="menu-section">
                  <div class="container">
                    <div class="sixteen columns">
                      <%= render "shared/menu" %>
                    </div>
                  </div>
                </section>
                -->




              </header>

              <%= yield %>

              <%= render 'shared/footer' %>
              <%= render 'shared/advertisement_popup' %>

              <!-- Yandex.Metrika counter -->
              <script type="text/javascript">
                (function (d, w, c) {
                 (w[c] = w[c] || []).push(function() {
                   try {
                   w.yaCounter22358746 = new Ya.Metrika({id:22358746,
                     webvisor:true,
                     clickmap:true,
                     trackLinks:true,
                     accurateTrackBounce:true});
                   } catch(e) { }
                   });

                 var n = d.getElementsByTagName("script")[0],
                 s = d.createElement("script"),
                 f = function () { n.parentNode.insertBefore(s, n); };
                 s.type = "text/javascript";
                 s.async = true;
                 s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                 if (w.opera == "[object Opera]") {
                 d.addEventListener("DOMContentLoaded", f, false);
                 } else { f(); }
                })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/22358746" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37652869-1']);
  _gaq.push(['_trackPageview']);
  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
</script>

<!-- Google Tag Manager -->
<noscript>
  <iframe src="//www.googletagmanager.com/ns.html?id=GTM-N8T5BJ"height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
  (function(w,d,s,l,i){
    w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
    var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
    j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
    f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N8T5BJ');
</script>
<!-- End Google Tag Manager -->

</body>
</html>

