<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>
  <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>
    <html class="no-js lt-ie9"> <![endif]-->
      <!--[if gt IE 8]><!-->
      <html class="no-js"> <!--<![endif]-->
        <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
          <title><%= cms_page_content(:meta_title) %></title>
          <meta name="description" content="<%= cms_page_content(:meta_description) %>">
          <meta name="keywords" content="<%= cms_page_content(:meta_keywords) %>">
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

          <%= stylesheet_link_tag "root_page_css", :media => "all" %>
          <%= javascript_include_tag "site/application" %>
          <%= csrf_meta_tags %>

          <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
          <link rel="icon" href="/favicon.ico" type="image/x-icon">

          <script src="http://api-maps.yandex.ru/2.0/?load=package.standard&mode=release&lang=ru-RU" type="text/javascript"></script>
          <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=cyrillic-ext,latin,cyrillic' rel='stylesheet' type='text/css'>
          <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js" type="text/javascript"></script>

        </head>

        <body>
          <header data-stellar-background-ratio="1.5" style="background-position: 0 0">
            <section class="head-section">
              <div class="container">
                <div class="columns center960">
                  <div class="sky"></div>
                  <%= render "shared/header_section" %>
                </div>
              </div>
            </section>


            <section class="menu-section">
              <div class="container">
                <div class="columns center960">
                  <%= render "shared/menu" %>
                </div>
              </div>
            </section>


            <style>
              .center960{
                margin: auto;
                width: 960px;
              }
            </style>

            <section class="red-container">
              <div class="container">
                <div class="columns center960">
                  <div class="red-box">
                    <% @main_page_slides.each_with_index do |slide, i| %>
                      <% project = slide.project %>
                      <div class="red-box-slide" style="<%= i > 0 ? 'display:none' : '' %>">
                        <div class="romanov_text romanov-box">
                          <a href="<%= project_path(project.slug) %>" class="club-house">
                            <%= project.title %>
                          </a>

                          <p class="club-house-link">
                            <a href="<%= project_path(project.slug) %>"><%= project.category %>
                            <img src="/assets/ch-left-arrow.png"/></a>
                        </p>
                      </div>

                      <div class="buy sing_pix"><a href="<%= project_buy_path(project.slug) %>">Купить квартиру</a></div>
                      <div class="speed sing_pix"><a href="<%= project_progress_path(project.slug) %>">Ход строительства</a>
                      </div>
                      <div class="plan sing_pix"><a href="<%= project_layout_path(project.slug) %>">Планировка квартир</a>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
              <div class="left-arrow next"><a href="#prev" class="carousel-prev"><img src="/assets/left-arrow.png"/></a></div>
              <div class="right-arrow next"><a href="#next" class="carousel-next"><img src="/assets/right-arrow.png"/></a></div>
            </div>

          </section>

          <style>
            .rombulovo-box {
              display: none;
            }

            .rombulovo-box .club-house {
              font-size: 26px;
            }

            header {
              z-index: 2;
            }

            .head-section {
              z-index: 2;
            }

            .menu-section {
              z-index: 2;
            }

            .red-container {
              z-index: 2;
            }

            .left-arrow {
              position: absolute;
              top: 77%;
              left: -100px;
              opacity: 0.7;
              z-index: 2000;
            }

            .right-arrow {
              position: absolute;
              top: 77%;
              right: -118px;
              opacity: 0.7;
              z-index: 2000;
            }

          </style>

        </header>


        <section class="press-section">
          <div class="container press-container">
            <div class="sixteen columns">
              <h2><a href="/news">ПРЕСС-ЦЕНТР</a></h2>
              <hr class="hr-orange hr-press">
            </div>
            <% @news.reverse.each do |new| %>
              <div class="one-third column">
                <%= link_to news_path(new.id) do %>
                  <h5><%= raw new.header.gsub("\\n", "<br>") %></h5>
                <% end %>
                <p class="news-text"><%= link_to new.short_description, news_path(new.id) %></p>
                <div class="news-date">
                  <hr class="hr-news">
                  <p><strong><%= Russian::strftime(new.date, "%d %B %Y") %></strong></p>
                </div>
              </div>
            <% end %>

            <div class="three columns offset-by-thirteen" style="margin-left: 40px;">
              <a style="text-decoration: none;" href="/news">Все новости <img src="/assets/press-arrow.png"/></a>
            </div>
          </div>
        </section>

        <style>
          .news-text a {
            text-decoration: none;
          }

          .news-text a:hover {
            text-decoration: underline;
          }
        </style>

        <section class="map-section">
          <a id="projects-link-btn" href="/projects"><img src="/assets/projects.png"/></a>

          <div id="yamap"></div>
          <img class="stoit-spinoi" src="/assets/stoit-spinoi.png"/>
        </section>

        <section class="partners-section">
          <div class="container">
            <div class="eleven columns">
              <h2 class="partners-shift">НАДЁЖНОСТЬ. КАЧЕСТВО. КОМФОРТ.</h2>
              <hr class="hr-parners-solid">
              <p class="main-principle">Главный принцип работы «СДС» это забота о своем клиенте: наши объекты находятся только в
                экологически чистых районах<br/> Санкт-Петербурга и Ленинградской области с наличием социальной инфраструктуры:
                магазинов, медицинских учреждений, детских садов, школ, а также близости транспортных развязок.</p>
              <a style="float: right; margin-right: 150px; text-decoration: none;" href="/about">Узнать подробнее
                <img src="/assets/press-arrow.png"/></a>
            </div>
            <div class="five columns guys">
              <img src="/assets/guys.png"/>
            </div>
          </div>

          <div class="container">
            <div class="ten columns">
              <h2 class="our-parnters">НАШИ ПАРТНЕРЫ</h2>
              <hr class="hr-orange hr-our-partners">
            </div>
          </div>

          <div class="container">
            <div class="sixteen columns partners" id="partner_1">
              <% Partner.all.each do |partner| %>
                <%= link_to partner.slug do %>
                  <%= image_tag partner.image.url, alt: partner.name %>
                <% end %>
              <% end %>
            </div>
          </div>
        </section>

        <%= render "shared/footer" %>
        <%= render 'shared/advertisement_popup' %>        

        <script type="text/javascript">
          /* При успешной загрузке API выполняется
             соответствующая функция */
        ymaps.ready(function () {
            /* Создание экземпляра карты и его привязка к контейнеру с id="YMapsID" */
            var myMap = new ymaps.Map("yamap", {
              // Центр карты
              //center: [55.76, 37.64],
              //center: [59.97, 30.19],
center: [60.011744, 30.469106],
// Коэффициент масштабирования
zoom: 10
// Тип карты
//type: "yandex#satellite"
}
);

            myMap.controls
            // Кнопка изменения масштаба.
            .add('zoomControl', { left: 5, top: 5 });
            // Список типов карты
            //.add('typeSelector')
            // Стандартный набор кнопок
            //.add('mapTools', { left: 35, top: 5 });
            // Создание метки


        <% @projects.each do |project| %>
          <% if project.lat.present? and project.lng.present? %>
            var myPlacemark = new ymaps.Placemark(
                // Координаты метки
                [<%= project.lat %>, <%= project.lng %>],
                {
hintContent: '<%= project.title %>'
}, {
iconImageHref: '/assets/baloon.png', // картинка иконки
iconImageSize: [96, 101],
iconImageOffset: [-60, -95]
});

myPlacemark.events.add('click', function () {
    window.location.href = '<%= project_path(project.slug) %>';
    });

myMap.geoObjects.add(myPlacemark);
            <% end %>
          <% end %>
          });


// Header background parallax effect
$(document).ready(function () {
    $('li.active-menu').prev().css('border-right', 'none');
    });
  </script>


  <div id="featured">

  </div>

  <script type="text/javascript">
    $(window).load(function () {
        $("#featured").backstretch([
          <%= raw @main_page_slides.map{|slide| "'#{slide.slide_image.url(:normal)}'" }.join(', ')%>
          ], { duration: <%= Configuration[:slides_time].to_i * 1000 || 4000 %>, fade: 'normal' });

        $('.carousel-next').click(function () {
          $("#featured").data('backstretch').next();
          return false;
          });

        $('.carousel-prev').click(function () {
          $("#featured").data('backstretch').prev();
          return false;
          });

        $(document.body).on("backstretch.show", function (e, instance, index) {
          $('.red-box-slide').hide();
          $($('.red-box-slide')[$("#featured").data('backstretch').index]).show();
          });
        });
      </script>

      <style>
        #featured {
          position: absolute;
          top: 0;
        }

        #featured div {
          position: absolute;
          top: 0;
          width: 100%;
          overflow: hidden;
          height: 100%;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }

        section.red-container {
          z-index: -10;
        }
      </style>


      <style>
        /* CSS for jQuery Orbit Plugin 1.2.3
        * www.ZURB.com/playground
        * Copyright 2010, ZURB
        * Free to use under the MIT license.
        * http://www.opensource.org/licenses/mit-license.php



        /* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
        ================================================== */
        #featured {
          width: 100%;
          height: 845px;
          background: #ffffff url('/assets/ajax-loader.gif') no-repeat center center;
          overflow : hidden;
          z-index : -100;
        }
        .partners a{
          vertical-align: middle;
          margin: 0 30px 20px 5px;
          display: inline-block;
        }
        .partners img{
          filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
          filter: gray; /* IE6-9 */
          -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        }
        .partners img:hover{
          filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
          -webkit-filter: grayscale(0%);
        }


      </style>

      <!-- Yandex.Metrika counter -->
      <script type="text/javascript">
        (function (d, w, c) {
         (w[c] = w[c] || []).push(function() {
           try {
           w.yaCounter22358746 = new Ya.Metrika({id:22358746,
             webvisor:true,
             clickmap:true,
             trackLinks:true,
             accurateTrackBounce:true});
           } catch(e) { }
           });

         var n = d.getElementsByTagName("script")[0],
         s = d.createElement("script"),
         f = function () { n.parentNode.insertBefore(s, n); };
         s.type = "text/javascript";
         s.async = true;
         s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

         if (w.opera == "[object Opera]") {
         d.addEventListener("DOMContentLoaded", f, false);
         } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
      </script>
      <noscript><div><img src="//mc.yandex.ru/watch/22358746" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->

      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37652869-1']);
        _gaq.push(['_trackPageview']);
        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
(function(){ var widget_id = '104695';
 var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();
</script>
  <script>
    (function(w,d,s,l,i){
      w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N8T5BJ');
  </script>
  <!-- End Google Tag Manager -->

</body>
</html>
